/*
$bp-xs:   480px !default;
$bp-s:    620px !default;
$bp-m:    780px !default;
$bp-l:    910px !default;
$bp-l-ex: 1000px !default;
$bp-xl:   1200px !default;
*/

/*
 * Link To Home Page
 */
.ma__header__hamburger__menu-home-link {
  color: #fff;
  display: inline-flex;
  gap: 0.5em;
  align-items: center;
  text-decoration: none;
}

.ma__header__hamburger__menu-home-link:hover {
  text-decoration: underline;
}

.ma__header__hamburger__menu-home-link svg {
  width: 17px;
  height: 15px;
  fill: currentColor;
  opacity: 0.7;
}

/* $bp-header-toggle */
@media (max-width: 940px) {
  .ma__header__hamburger__menu-home-link {
    display: none !important;
  }
}

/*
 * Hamburger Menu
 */
/* $bp-header-toggle */
@media (min-width: 941px) {
  .ma__header__hamburger__menu-button {
    display: none !important;
  }
}

/*
 * Desktop Nav
 */
 @media (max-width: 941px) {
  .ma__microsite-desktop-nav {
    display: none !important;
  }
}


