{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{%
  set classes = [
    'ma__form',
    'ma__form--light'
  ]
%}
<div class="view-filters">
  <form{{ attributes.addClass(classes) }}>
    {{ children }}
  </form>
</div>
