@media screen and (min-width: 1120px) {
  .region-content {
    display: grid;
    grid-template-columns: 66% 33%;
    grid-template-rows: auto;
    grid-column-gap: 1.875rem;
  }

  .region-content .block-right-sidebar-block {
    grid-column: 2;
    grid-row: 1 / span 2;
  }
}
