
.moderation-label-published {
  /*background: #269e2c;*/
  color: #269e2c !important;
  font-weight: bold !important;
}

.moderation-label-draft {
  /*background: #c74b4b;*/
  color: #c74b4b !important;
  font-weight: bold !important;
}

.moderation-label-draft-available {
  background: #ffae00;
  color: #ffae00 !important;
}
