.block-alerts-block {
  background: #e7eef4;
  border-color: #14558f;
  border-width: 1px 3px;
  border-style: solid;
  padding: 10px 20px;
  font-weight: bold;
  color: #14558f;
  position: relative;
}
.block-alerts-block a {
  text-decoration: underline;
}
