/*
 * @file
 *
 * Styles and style overrides for blocks intended to show up on the author homepage right sidebar.
 * Add new blocks classes to these group selectors for style consistency.
 * If there end up being lots of blocks, they should all be given a common class, and this file can be refactored to use
 * just the new class.
 */
.block-help-block {
  margin-bottom: 1.25rem;
}

.block-help-block .subhead {
  text-transform: uppercase;
  line-height: 1.125rem;
  font-weight: bold;
  margin-top: 2rem;
}

.block-help-block ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

.block-help-block ul a {
  font-size: 1.3125rem;
  line-height: 1.25rem;
  text-decoration: underline;
  font-weight: normal;
}

.block-help-block li {
  margin-top: .75rem;
}
