/**
 * @file
 *
 * Styles specifically for the release notes block found on the author welcome page.
 */
.block-release-notes-block details {
  background-color: #fff;
  border: none;
}
.block-release-notes-block details .details-wrapper {
  padding-left: 1.75rem;
}
.block-release-notes-block details summary {
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  text-transform: uppercase;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.block-release-notes-block details .details-wrapper .form-item {
  margin-top: 0;
}

.block-release-notes-block details summary[aria-expanded="false"]:hover,
.block-release-notes-block details summary[aria-expanded="false"]:focus {
  background-color: #fff;
}

.block-release-notes-block .field--name-field-section-long-form-heading,
.block-release-notes-block .field--name-field-section-long-form-content {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.block-release-notes-block ul {
  margin-left: 0;
  padding-left: 1.25rem;
}
