{#
/**
 * @file
 * Theme the contextual navigation links rendered in the node.
 *
 * Available variables:
 * - links: The links to pass directly into Mayflower
 */
#}
<div class="contextual-nav contextual-nav__hidden">
  {% include '@organisms/by-template/utility-panel.twig' with {'item': links} %}
</div>
