core/assets/vendor/**/*
core/modules/locale/tests/locale_test.js
vendor/**/*
**/vendor/**/*
**/gulpfile.js
**/gulp-tasks/**/*
sites/**/files/**/*
libraries/**/*
sites/**/libraries/**/*
profiles/**/libraries/**/*
**/js_test_files/**/*
docroot/themes/custom/old_mass_admin_theme/js/**
docroot/modules/custom/mass_entityreference/js/autocompletefilter.js
docroot/modules/custom/mass_feedback_form/js/accessible-character-countdown.js
docroot/modules/custom/mass_feedback_form/js/accessible-character-countdown.min.js
docroot/modules/custom/mayflower/js/modernizr.min.js
docroot/themes/custom/mass_theme/js/*
docroot/themes/custom/mass_admin_theme/js/entity-embed-dialog-alter.js
docroot/themes/custom/mass_admin_theme/js/selectize.js
docroot/themes/custom/mass_admin_theme/js/nav-tabs.js
