/**
 * File: address-fields.css
 *
 * Provides admin css overrides for address module fields.
 */

.field--type-address .details-wrapper .form-item,
.field--type-address .details-wrapper .address-container-inline {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.field--type-address .details-wrapper .address-container-inline .form-item {
  margin-top: 0;
  margin-bottom: 0;
}

.field--type-address .details-wrapper .form-item.form-no-label label {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}
