/**
 * Add colored background to group non/typical hours fieldsets visually.
 */

fieldset.ma--grey-bg {
  background-color: #f5f5f2;
}

details.ma--white-bg {
  background-color: #fff;
}

/**
 * Hide all office hours module comment input from hours_structured paragraph field.
 */

.field--name-field-hours-structured tr.draggable td > div:nth-child(4),
.field--name-field-hours-structured tr.draggable td > .ajax-new-content > div:nth-child(4) {
  display: none !important;
}


/**
 * Hide the Title field on node-action extended header contact group.
 */
.form-item-field-action-header-0-subform-field-title-0-value {
  display: none;
}

.form-item-field-action-sidebar-0-subform-field-contact-group-layout {
  display: none;
}

.field--name-field-hours-structured .field-multiple-table .form-item,
.field--name-field-hours-structured .field-multiple-table .container-inline {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}
