/**
 * Override the admin lists for the adding node.
 */

.admin-list li a {
  padding-bottom: 7px;
}
.admin-list li .description a {
  background: none !important;
  padding-top: 0px;
  padding-bottom: 5px;
}
.admin-list li .description p {
  color: #595959;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
