
.icon-plus-circled:before { content: '\e800'; } /* '' */
.icon-flash:before { content: '\e801'; } /* '' */
.icon-right-big:before { content: '\e802'; } /* '' */
.icon-down-open:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-star-empty:before { content: '\e805'; } /* '' */
.icon-cancel-circled:before { content: '\e806'; } /* '' */
.icon-left-open:before { content: '\e807'; } /* '' */
.icon-right-open:before { content: '\e808'; } /* '' */
.icon-toolbar-toggle:before { content: '\e809'; } /* '' */
.icon-help-circled:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-minus:before { content: '\e80c'; } /* '' */
.icon-resize-vertical:before { content: '\e80d'; } /* '' */
.icon-plus-circled-outline:before { content: '\e80e'; } /* '' */
.icon-up-open:before { content: '\e80f'; } /* '' */
.icon-reorder:before { content: '\e810'; } /* '' */
.icon-user:before { content: '\e811'; } /* '' */