{#
 /**
 * @file
 * Template for the imagePromos view style plugin.
 */
 #}
<div class="main-content main-content--two">
  <section class="ma__press-listing">
    <div class="ma__press-listing__container">
      <div class="ma__press-listing__items">
        {% for row in rows %}
          {{ row }}
        {% endfor %}
      </div>
    </div>
  </section>
</div>
