.toolbar-tray-horizontal .menu-item:hover,
.toolbar-tray-horizontal nav > ul > li:hover {
  background: #a1cab7;
}

.toolbar-tray-horizontal .menu-item--expanded .menu {
  background: #fff;
  width: auto;
  height: auto;
}
.toolbar-tray-horizontal ul.toolbar-menu > li.menu-item--expanded > a,
.toolbar-tray-horizontal ul.toolbar-menu > li.menu-item--expanded > .toolbar-box > a {
  padding-right: 10px;
}
.toolbar-tray-horizontal .menu-item--expanded {
  background-color: #d9eae2;
  padding-right: 29px;
}
.toolbar-tray-horizontal .menu-item--expanded a {
  position: relative;
}

.toolbar-tray-horizontal .menu-item--expanded > a:after,
.toolbar-tray-horizontal .menu-item--expanded > .toolbar-box > a:after {
  font-family: fontello;
  content: '\e803';
  font-size: 14px;
  position: absolute;
  top: 35%;
  right: -14px;
}
.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded > a:after,
.toolbar-tray-horizontal ul li.menu-item--expanded ul li.menu-item--expanded > .toolbar-box a:after {
  font-family: fontello;
  content: '\e808';
  font-size: 14px;
  position: absolute;
  right: -9px;
  top: 35%;
}

.toolbar-tray-horizontal .menu-item--expanded.hover-intent {
  background-color: #a1cab7;
}

.toolbar-tray-horizontal .menu-item--expanded.hover-intent a,
.toolbar-tray-horizontal .menu-item--expanded.hover-intent > a.is-active {
  color: #141414;
}

.toolbar .toolbar-tray-horizontal ul ul li.menu-item {
  background-color: #a1cab7;
}
.toolbar .toolbar-tray-horizontal ul ul li.menu-item a {
  padding: 12px 20px;
  color: #141414;
}
.toolbar .toolbar-tray-horizontal ul ul li.menu-item:hover {
  background-color: #43956f;
}
.toolbar .toolbar-tray-horizontal ul ul li.menu-item.hover-intent > a,
.toolbar .toolbar-tray-horizontal ul ul li.menu-item a:hover {
  color: #fff;
}
.toolbar .toolbar-tray-horizontal ul ul li.menu-item ul li.menu-item {
  background-color: #43956f;
  color: #141414;
}
.toolbar .toolbar-tray-horizontal ul ul li.menu-item ul li.menu-item:hover {
  color: #fff;
}

.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul,
.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul,
.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul,
.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul ul {
  display: none;
  left: -999em; /* LTR */
}

/* Lists nested under hovered list items */
.toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul,
.toolbar-tray-horizontal li li.menu-item--expanded.hover-intent ul,
.toolbar-tray-horizontal li li li.menu-item--expanded.hover-intent ul,
.toolbar-tray-horizontal li li li li.menu-item--expanded.hover-intent ul,
.toolbar-tray-horizontal li li li li li.menu-item--expanded.hover-intent ul {
  display: block;
  left: auto; /* LTR */
}

.toolbar-tray-horizontal .menu ul li a,
.toolbar-tray-horizontal .menu ul .toolbar-icon {
  padding: 12px 15px 12px 12px;
}

.toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul {
  display: block;
  position: absolute;
  width: 296px;
  box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.15);
  z-index: 1;
}

.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item > ul {
  display: none;
}

.toolbar-tray-horizontal ul li.menu-item--expanded .menu-item.hover-intent ul {
  display: block;
  margin: -42px 0 0 296px;
}

.toolbar-tray-horizontal li:hover ul li {
  float: none;
}

.toolbar-tray-horizontal li.hover-intent ul li {
  float: none;
}

.toolbar-tray-horizontal .toolbar .level-2 > ul {
  position: absolute;
  padding-top: 0;
  top: 0;
  left: 200px;
  width: 200px;
}

.toolbar .toolbar-tray-vertical li.open > ul.toolbar-menu.clearfix {
  display: block;
}

[dir="rtl"] .toolbar-tray-horizontal .menu-item:hover {
  background: #a1cab7;
}

[dir="rtl"] .toolbar-tray-horizontal .menu-item a:focus {
  background: #abeae4;
}

[dir="rtl"] .toolbar-tray-horizontal .menu-item--expanded .menu {
  background: #fff;
  width: auto;
  height: auto;
}

[dir="rtl"] .toolbar-tray-horizontal .menu-item--expanded {
  background-color: #f5f5f2;
}

[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul,
[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul,
[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul,
[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul ul ul ul ul {
  display: none;
  left: -999em; /* LTR */
}

/* Lists nested under hovered list items */
[dir="rtl"] .toolbar-tray-horizontal li.menu-item--expanded.hover-intent ul,
[dir="rtl"] .toolbar-tray-horizontal li li.menu-item--expanded.hover-intent ul,
[dir="rtl"] .toolbar-tray-horizontal li li li.menu-item--expanded.hover-intent ul,
[dir="rtl"] .toolbar-tray-horizontal li li li li.menu-item--expanded.hover-intent ul,
[dir="rtl"] .toolbar-tray-horizontal li li li li li.menu-item--expanded.hover-intent ul {
  display: block;
  left: auto; /* LTR */
}

[dir="rtl"] .toolbar-tray-horizontal .menu ul li a,
[dir="rtl"] .toolbar-tray-horizontal .menu ul .toolbar-icon {
  padding: 12px 15px 12px 12px;
}

[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded.hover-intent ul {
  display: block;
  position: absolute;
  width: 296px;
  box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.15);
  z-index: -1;
}

[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded .menu-item > ul {
  display: none;
}

[dir="rtl"] .toolbar-tray-horizontal ul li.menu-item--expanded .menu-item.hover-intent ul {
  display: block;
  margin: -40px 197px 0 0;
}

[dir="rtl"] .toolbar-tray-horizontal li:hover ul li {
  float: none;
}

[dir="rtl"] .toolbar-tray-horizontal li.hover-intent ul li {
  float: none;
}

[dir="rtl"] .toolbar-tray-horizontal .toolbar .level-2 > ul {
  position: absolute;
  padding-top: 0;
  top: 0;
  left: 200px;
  width: 200px;
}

[dir="rtl"] .toolbar .toolbar-tray-vertical li.open > ul.toolbar-menu.clearfix {
  display: block;
}
