ul.mass-resport-admin-list li a {
  padding-bottom: 0;
}

ul.mass-resport-admin-list li div.description {
  padding-left: 25px;
}

ul.mass-resport-admin-list li div.description a {
  display: inline;
  padding: 0;
}
