/**
 * @file mass_dashboard_messages_tabs.css
 *
 */

/* Container */
.mass-dashboard-tabs {
  background-color: #ffffff;
}

/* Tabs Container */
.mass-dashboard-tabs__tabs {
  position: relative;
  min-height: 33px;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 10px #888888 inset;
  z-index: 99;
}

/* Tabs lists */
.mass-dashboard-tabs__tabs > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

/* Tabs Lists Items */
.mass-dashboard-tabs__tabs > ul > li {
  display: inline-block;
}

/* Primary Tabs default */
.primary-tabs > li > a {
  display: inline-block;
  padding: 10px 25px;
}

/* Primary Tabs hover and focus */
.primary-tabs > li > a:active,
.primary-tabs > li > a:hover,
.primary-tabs > li > a:focus {
  background-color: #ffffff;
  text-decoration: none;
  color: #0032a0; /*Drupal Link color*/
  transition: all 0.15s ease-out;
}

/* Primary Tabs Active */
.primary-tabs > li > a.is-active {
  background-color: #ffffff;
  color: #0c2240; /*Drupal hover color*/
  box-shadow: 2px 2px 2px #888888;
}

/* Secondary Tabs List (ul) */
.secondary-tabs {
  display: block;
  border-top: 1px solid #b5b5b5;
  background-color: #ebebeb;
  box-shadow: 0px 2px 10px rgba(181, 181, 181, 0.5) inset;
}

/* Secondary Tabs default link */
.secondary-tabs > li > a {
  display: inline-block;
  padding: 5px 15px;
}

/* Secondary Tabs hover */
.secondary-tabs > li > a:active,
.secondary-tabs > li > a:hover,
.secondary-tabs > li > a:focus {
  background-color: rgba(181, 181, 181, 0.5);
  color: #0032a0; /*Drupal Link color*/
}

/* Secondary Tabs Active */
.secondary-tabs > li > a.is-active {
  background-color: rgba(181, 181, 181, 0.5);
  color: #0c2240; /*Drupal hover color*/
}

/* Messages Container */
.mass-dashboard-tabs__messages > .messages {
  margin: 10px 20px;
  font-size: 1rem;
}
.toolbar .mass-dashboard-tabs__messages a {
  display: inline;
}

/* Messages Container, closed */
.mass-dashboard-tabs__message.is-closed {
  display: none;
  padding: 10px 20px;
}

/* Zap toolbar link styling within the message area. */
.mass-dashboard-tabs.toolbar .mass-dashboard-tabs__message a {
  display: inline;
  line-height: inherit;
}

/* Open/Close Messages Trigger */
.mass-dashboard-tabs__trigger {
  position: absolute;
  top: 0;
  left: 20px;
  display: inline-block;
  border-left: 1px solid #b5b5b5;
  border-right: 1px solid #b5b5b5;
  padding: 8px 25px;
  color: #0032a0;
}

/* Place "Hide" in for messaging when the drawer is open */
.mass-dashboard-tabs__trigger > .show {
  display: none;
}
.mass-dashboard-tabs__trigger > .hide {
  display: inline;
}

/* Place "Show" in for messaging when the drawer is closed */
.mass-dashboard-tabs__trigger.is-closed > .show {
  display: inline;
}
.mass-dashboard-tabs__trigger.is-closed > .hide {
  display: none;
}

/* add in an arrow indicator to the message */
.mass-dashboard-tabs__trigger:after {
  content: url('../images/icon-arrow.png');
  position: relative;
  top: 2px;
  display: inline-block;
  margin-left: 10px;
}

/* Rotate the arrow indicator when the drawer is closed */
.mass-dashboard-tabs__trigger.is-closed:after {
  -ms-transform: rotate(180deg); /* IE 9 */
  -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  top: -.5px;
}
