{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * This is a copy of stable/templates/navigation/menu-local-tasks.html.twig
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}
{% if primary %}
  <h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
  <ul class="primary-tabs">{{ primary }}</ul>
{% endif %}
{% if secondary %}
  <h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
  <ul class="secondary-tabs">{{ secondary }}</ul>
{% endif %}
