/**
 * Overrides styles tabs styles for Mass Admin from horizontal-tabs.css in field groups module
 */
.horizontal-tabs,
.horizontal-tabs .horizontal-tabs-list {
  border: none;
}
.horizontal-tabs {
  padding: 0 1.25rem;
  background-color: #fff;
  border-radius: 6px;
}
.horizontal-tabs .horizontal-tabs-list {
  margin-top: 24px;
  background-color: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.horizontal-tabs .horizontal-tab-button {
  background: #fff;
  border-right: none;
  padding: 0;
}
.horizontal-tabs ul.horizontal-tabs-list li a {
  border-bottom: 3px solid transparent;
}
.horizontal-tabs ul.horizontal-tabs-list li a,
.horizontal-tabs ul.horizontal-tabs-list li.selected a {
  text-transform: uppercase;
  padding: 13px 15px 10px;
  font-weight: 700;
}
.horizontal-tabs ul.horizontal-tabs-list li.selected a {
  border-bottom-color: #14558f;
}
.horizontal-tabs ul.horizontal-tabs-list li a:hover {
  background-color: #14558f;
  color: #fff;
  border-bottom-color: #14558f;
  transition: all 0.15s ease-out;
}
.horizontal-tabs ul.horizontal-tabs-list li.selected a:hover {
  background-color: #fff;
  color: #14558f;
  transition: all 0.15s ease-out;
}
.horizontal-tabs ul.horizontal-tabs-list li a strong,
.horizontal-tabs ul.horizontal-tabs-list li.selected a strong {
  font-weight: 700;
}

.horizontal-tab-button.selected:hover,
.horizontal-tab-button.selected:focus,
.horizontal-tab-button.selected:active {
  color: #14558f;
  background-color: #fff;
  transition: all 0.15s ease-out;
}
