/**
 * Toolbar item: Mass Dashboard
 */
a.toolbar-icon-mass-dashboard-tab::before {
  background-image: url("../images/icons/bebebe/mass-dashboard.svg");
}
a.toolbar-icon-mass-dashboard-tab.is-active::before,
.toolbar-icon-mass-dashboard-content.is-active::before {
  background-image: url("../images/icons/ffffff/mass-dashboard.svg");
}

/**
 * Tray item: My Edits
 */
.toolbar-icon-mass-dashboard-my-work::before {
  background-image: url("../images/icons/787878/my-work.svg");
}
.toolbar-icon-mass-dashboard-my-work.is-active::before {
  background-image: url("../images/icons/000000/my-work.svg");
}

/**
 * Tray item: Needs Review
 */
.toolbar-icon-mass-dashboard-needs-review::before {
  background-image: url("../images/icons/787878/needs-review.svg");
}
.toolbar-icon-mass-dashboard-needs-review.is-active::before {
  background-image: url("../images/icons/000000/needs-review.svg");
}

/**
 * Tray item: All Content
 */
.toolbar-icon-mass-dashboard-all-content::before {
  background-image: url("../images/icons/787878/all-content.svg");
}
.toolbar-icon-mass-dashboard-all-content.is-active::before {
  background-image: url("../images/icons/000000/all-content.svg");
}

/**
 * Tray item: Service Content
 */
.toolbar-icon-mass-dashboard-service-content::before {
  background-image: url("../images/icons/787878/service-content.svg");
}
.toolbar-icon-mass-dashboard-service-content.is-active::before {
  background-image: url("../images/icons/000000/service-content.svg");
}
