/**
 * Overrides styles from workbench-tabs.css in workbench module.
 */
.workbench-tabs a {
  line-height: 1.1875em;
}
.workbench-tabs a:hover {
  text-decoration: none;
}
.workbench-tabs__tabs {
  background-color: #f2f2f2;
  box-shadow: none;
}
.workbench-tabs__tabs > .primary-tabs {
  border-bottom: 1px solid #14558f;
}
.secondary-tabs {
  background-color: #f2f2f2;
  border: none;
  box-shadow: none;
}
.workbench-tabs__tabs > ul > li {
  margin-left: -4px;
}
.workbench-tabs__tabs > ul > li:first-child {
  margin-left: 0;
}
.primary-tabs > li > a,
.secondary-tabs > li > a {
  font-family: "Texta", "Helvetica", "Arial", "sans-serif";
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  padding: 13px 15px 10px;
  font-weight: 700;
  border-bottom: 3px solid transparent;
}
.primary-tabs > li > a:active,
.primary-tabs > li > a:hover,
.primary-tabs > li > a:focus,
.secondary-tabs > li > a:active,
.secondary-tabs > li > a:hover,
.secondary-tabs > li > a:focus {
  color: #fff;
  background-color: #14558f;
  text-decoration: none;
}
.primary-tabs > li > a.is-active,
.secondary-tabs > li > a.is-active {
  color: #14558f;
  background-color: #f2f2f2;
  box-shadow: none;
  border-bottom-color: #14558f;
}

/*
 * Styles for Show Messages Button
 */
.workbench-tabs__trigger {
  font-size: 1em;
  color: #14558f;
  line-height: 1.1875em;
  text-transform: uppercase;
  padding: 10px 15px;
  font-weight: 700;
  border: none;
}
.workbench-tabs__trigger:hover {
  text-decoration: underline;
}
.workbench-tabs__trigger:after {
  font-family: fontello;
  font-size: 0.8em;
  content: '\e803';
  top: -1px;
  transform: rotate(180deg);
}
.workbench-tabs__trigger.is-closed:after {
  top: -1px;
  transform: rotate(0deg);
}

.workbench-tabs .backtrace {
  font-size: 13px;
}
