/* Publish button style */
form#views-bulk-operations-confirm-action input.mass_media_publish {
  color: #e7eef4;
  background-color: #14558f;
  background-image: none;
  border-radius: 3px;
  border: 1px solid #14558f;
  text-shadow: none;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.125rem;
  text-transform: uppercase;
  padding: 0.5625rem 1.5rem;
}


form#views-bulk-operations-confirm-action input.mass_media_publish:hover,
form#views-bulk-operations-confirm-action input.mass_media_publish:focus,
form#views-bulk-operations-confirm-action input.mass_media_publish:active {
  color: #14558f;
  background-image: none;
  background-color: #fff;
  border: 1px solid #14558f;
  text-shadow: none;
  box-shadow: none;
  text-decoration: none;
  outline: none;
  font-weight: bold;
}

/* Unpublish button style */
form#views-bulk-operations-confirm-action input.mass_media_unpublish {
  color: #e7eef4;
  background-color: #388557;
  background-image: none;
  border-radius: 3px;
  border: 1px solid #388557;
  text-shadow: none;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.125rem;
  text-transform: uppercase;
  padding: 0.5625rem 1.5rem;
}


form#views-bulk-operations-confirm-action input.mass_media_unpublish:hover,
form#views-bulk-operations-confirm-action input.mass_media_unpublish:focus,
form#views-bulk-operations-confirm-action input.mass_media_unpublish:active {
  color: #388557;
  background-image: none;
  background-color: #fff;
  border: 1px solid #388557;
  text-shadow: none;
  box-shadow: none;
  text-decoration: none;
  outline: none;
  font-weight: bold;
}

/* Trash button style */
form#views-bulk-operations-confirm-action input.mass_media_trash {
  color: #e7eef4;
  background-color: #cd0d0d;
  background-image: none;
  border-radius: 3px;
  border: 1px solid #cd0d0d;
  text-shadow: none;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.125rem;
  text-transform: uppercase;
  padding: 0.5625rem 1.5rem;
}


form#views-bulk-operations-confirm-action input.mass_media_trash:hover,
form#views-bulk-operations-confirm-action input.mass_media_trash:focus,
form#views-bulk-operations-confirm-action input.mass_media_trash:active {
  color: #cd0d0d;
  background-image: none;
  background-color: #fff;
  border: 1px solid #cd0d0d;
  text-shadow: none;
  box-shadow: none;
  text-decoration: none;
  outline: none;
  font-weight: bold;
}

/* Restrict button style */
form#views-bulk-operations-confirm-action input.mass_media_restricted {
  color: #e7eef4;
  background-color: #14558f;
  background-image: none;
  border-radius: 3px;
  border: 1px solid #14558f;
  text-shadow: none;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.125rem;
  text-transform: uppercase;
  padding: 0.5625rem 1.5rem;
}


form#views-bulk-operations-confirm-action input.mass_media_restricted:hover,
form#views-bulk-operations-confirm-action input.mass_media_restricted:focus,
form#views-bulk-operations-confirm-action input.mass_media_restricted:active {
  color: #14558f;
  background-image: none;
  background-color: #fff;
  border: 1px solid #14558f;
  text-shadow: none;
  box-shadow: none;
  text-decoration: none;
  outline: none;
  font-weight: bold;
}
