form#views-bulk-operations-confirm-action input.mass_media_publish {
  color: #388557;
}

form#views-bulk-operations-confirm-action input.mass_media_publish:hover,
form#views-bulk-operations-confirm-action input.mass_media_publish:focus,
form#views-bulk-operations-confirm-action input.mass_media_publish:active {
  color: #fff;
}

form#views-bulk-operations-confirm-action input.mass_media_unpublish,
form#views-bulk-operations-confirm-action input.mass_media_trash {
  color: #cd0d0d;
}

form#views-bulk-operations-confirm-action input.mass_media_unpublish:hover,
form#views-bulk-operations-confirm-action input.mass_media_unpublish:focus,
form#views-bulk-operations-confirm-action input.mass_media_unpublish:active,
form#views-bulk-operations-confirm-action input.mass_media_trash:hover,
form#views-bulk-operations-confirm-action input.mass_media_trash:focus,
form#views-bulk-operations-confirm-action input.mass_media_trash:active {
  color: #fff;
}

form#views-bulk-operations-confirm-action input.mass_media_restricted {
  color: #14558f;
}

form#views-bulk-operations-confirm-action input.mass_media_restricted:hover,
form#views-bulk-operations-confirm-action input.mass_media_restricted:focus,
form#views-bulk-operations-confirm-action input.mass_media_restricted:active {
  color: #fff;
}
