/**
 *@file
 * Base elements.
 */

html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.dialog-off-canvas-main-canvas {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.main-layout-region-container {
  flex: 1 0 auto;
}

footer {
  flex: 0 1 auto;
}

body {
  color: #141414;
  background: #f2f2f2;
  font: normal 1em "Noto Sans VF", "Noto Sans", Helvetica, Arial, sans-serif;
}

a,
.link {
  color: #14558f;
  font-weight: bold;
  text-decoration: none;
}
a:hover,
.link:hover,
a:focus,
.link:focus {
  text-decoration: underline;
  outline: 0;
}

/* Fluid images */
img {
  max-width: 100%;
}

::selection {
  background: #14558f;
  color: #fff;
}
::-moz-selection {
  background: #14558f;
  color: #fff;
}

caption {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin: 1rem 0;
}

.page-wrapper *:focus,
.ui-dialog *:focus {
  outline: none;
  box-shadow: initial;
}
