/**
 *@file
 * Base elements.
 */

html,
body {
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}

.dialog-off-canvas-main-canvas {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.main-layout-region-container {
  flex: 1 0 auto;
}

footer {
  flex: 0 1 auto;
}

body {
  color: #141414;
  background: #f2f2f2;
  font: normal 1em "Noto Sans VF", "Noto Sans", Helvetica, Arial, sans-serif;
}

a,
.link {
  color: #14558f;
  font-weight: bold;
  text-decoration: none;
}
a:hover,
.link:hover,
a:focus,
.link:focus {
  text-decoration: underline;
  outline: 0;
}
/**
 * Reusable heading classes are included to help modules change the styling of
 * headings on a page without affecting accessibility.
 */
h1,
.heading-a {
  font-weight: 300;
  margin: 24px 0 36px 0;
  font-size: 3.25em;
  line-height: 0.9em;
}
h2,
.heading-b {
  font-weight: normal;
  margin: 36px 0 24px 0;
  font-size: 2.25em;
  line-height: 1.17em;
}
h3,
.heading-c {
  font-weight: 500;
  margin: 24px 0;
  font-size: 1.5em;
  line-height: 1.25em;
}
h4,
.heading-d {
  font-weight: normal;
  margin: 24px 0;
  font-size: 1.3125em;
  line-height: 1.1429em;
}
h5,
.heading-e {
  font-weight: 300;
  margin: 24px 0;
  font-size: 1.125em;
  line-height: 1.3333em;
  text-transform: uppercase;
}
h6,
.heading-f {
  font-weight: 300;
  margin: 24px 0;
  font-size: 1.125em;
  line-height: 1.3333em;
}
p {
  font-size: 1.3125rem;
  line-height: 1.5rem;
  margin: 12px 0;
}

/* Fluid images */
img {
  max-width: 100%;
}

::selection {
  background: #14558f;
  color: #fff;
}
::-moz-selection {
  background: #14558f;
  color: #fff;
}

caption {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin: 1rem 0;
}

.page-wrapper *:focus,
.ui-dialog *:focus {
  outline: none;
  box-shadow: initial;
}
