/*
 * @file
 * Fonts.
 * This file should be used for importing fontface fonts ONLY. No styling should be done here.
 */

/* Light | 300 */
@font-face {
  font-family: 'Texta';
  src: url("../../fonts/texta-light-webfont.eot");
  src: url("../../fonts/texta-light-webfont.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/texta-light-webfont.woff") format("woff"),
  url("../../fonts/texta-light-webfont.ttf") format("truetype"),
  url("../../fonts/texta-light-webfont.svg#open_sansregular") format("svg");
  font-weight: 300;
  font-style: normal;
}

/* Light | italic */
@font-face {
  font-family: 'Texta';
  src: url("../../fonts/texta-lightitalic-webfont.eot");
  src: url("../../fonts/texta-lightitalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/texta-lightitalic-webfont.woff") format("woff"),
  url("../../fonts/texta-lightitalic-webfont.ttf") format("truetype"),
  url("../../fonts/texta-lightitalic-webfont.svg#open_sansregular") format("svg");
  font-weight: 300;
  font-style: italic;
}

/* Book | 400 */
@font-face {
  font-family: 'Texta';
  src: url("../../fonts/texta-book-webfont.eot");
  src: url("../../fonts/texta-book-webfont.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/texta-book-webfont.woff") format("woff"),
  url("../../fonts/texta-book-webfont.ttf") format("truetype"),
  url("../../fonts/texta-book-webfont.svg#open_sansregular") format("svg");
  font-weight: 400;
  font-style: normal;
}

/* Book | italic */
@font-face {
  font-family: 'Texta';
  src: url("../../fonts/texta-bookitalic-webfont.eot");
  src: url("../../fonts/texta-bookitalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/texta-bookitalic-webfont.woff") format("woff"),
  url("../../fonts/texta-bookitalic-webfont.ttf") format("truetype"),
  url("../../fonts/texta-bookitalic-webfont.svg#open_sansregular") format("svg");
  font-weight: 400;
  font-style: italic;
}

/* Medium | 500 */
@font-face {
  font-family: 'Texta';
  src: url("../../fonts/texta-medium-webfont.eot");
  src: url("../../fonts/texta-medium-webfont.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/texta-medium-webfont.woff") format("woff"),
  url("../../fonts/texta-medium-webfont.ttf") format("truetype"),
  url("../../fonts/texta-medium-webfont.svg#open_sansregular") format("svg");
  font-weight: 500;
  font-style: normal;
}

/* Medium | italic */
@font-face {
  font-family: 'Texta';
  src: url("../../fonts/texta-mediumitalic-webfont.eot");
  src: url("../../fonts/texta-mediumitalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/texta-mediumitalic-webfont.woff") format("woff"),
  url("../../fonts/texta-mediumitalic-webfont.ttf") format("truetype"),
  url("../../fonts/texta-mediumitalic-webfont.svg#open_sansregular") format("svg");
  font-weight: 500;
  font-style: italic;
}

/* Bold | 700 */
@font-face {
  font-family: 'Texta';
  src: url("../../fonts/texta-bold-webfont.eot");
  src: url("../../fonts/texta-bold-webfont.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/texta-bold-webfont.woff") format("woff"),
  url("../../fonts/texta-bold-webfont.ttf") format("truetype"),
  url("../../fonts/texta-bold-webfont.svg#open_sansregular") format("svg");
  font-weight: 700;
  font-style: normal;
}

/* Bold | Italic */
@font-face {
  font-family: 'Texta';
  src: url("../../fonts/texta-bolditalic-webfont.eot");
  src: url("../../fonts/texta-bolditalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/texta-bolditalic-webfont.woff") format("woff"),
  url("../../fonts/texta-bolditalic-webfont.ttf") format("truetype"),
  url("../../fonts/texta-bolditalic-webfont.svg#open_sansregular") format("svg");
  font-weight: 700;
  font-style: italic;
}

/* Black | 800 */
@font-face {
  font-family: 'Texta';
  src: url("../../fonts/texta-black-webfont.eot");
  src: url("../../fonts/texta-black-webfont.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/texta-black-webfont.woff") format("woff"),
  url("../../fonts/texta-black-webfont.ttf") format("truetype"),
  url("../../fonts/texta-black-webfont.svg#open_sansregular") format("svg");
  font-weight: 800;
  font-style: normal;
}

/* Black | Italic */
@font-face {
  font-family: 'Texta';
  src: url("../../fonts/texta-blackitalic-webfont.eot");
  src: url("../../fonts/texta-blackitalic-webfont.eot?#iefix") format("embedded-opentype"),
  url("../../fonts/texta-blackitalic-webfont.woff") format("woff"),
  url("../../fonts/texta-blackitalic-webfont.ttf") format("truetype"),
  url("../../fonts/texta-blackitalic-webfont.svg#open_sansregular") format("svg");
  font-weight: 800;
  font-style: italic;
}
