/**
 * @file
 * Provides admin css overrides for address module fields.
 */

.field--type-address .details-wrapper .form-item.form-no-label label {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

.field--type-address details label {
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin: 0.75rem 0 0.5rem 0;
}

div.address-container-inline > .form-item {
  display: inline-block;
  width: 47.8%;
  float: left;
  margin: 0;
}

div.address-container-inline > .form-item:first-child {
  margin-right: 1.875rem;
}

div.address-container-inline > .form-item select {
  width: 100%;
}

/*Override to get rid of double bottom padding when collapsible address field is open. */
.field--widget-entity-reference-paragraphs .field--name-field-address-address {
  padding-bottom: 0;
}
