/**
 * @file
 * Admin lists.
 * Styles for custom teaser-like presentation of content type info on node/add page.
 */

.admin-list li a {
  background: none;
}
.admin-list li.admin-list-item {
  border-bottom: 1px solid #535353;
}
.admin-list li.admin-list-item:last-child {
  border-bottom: none;
}
.admin-list li {
  border: none;
}

.content-type-teaser-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 1.5rem 2.25rem;
}

.admin-list-item .ct-thumbnail {
  padding-top: 2.25rem;
}
.ct-thumbnail img {
  padding-right: 36px;
}
.admin-list-item .details-container {
  padding-top: 2.25rem;
  flex: 1 1 40%;
}
.admin-list-item .button-container {
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.details-container h3 {
  margin: 0;
}
.details-container h3 a {
  margin: 0 1.25rem 0 0;
  padding: 0;
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: normal;
  color: #141414;
  float: left;
  display: inline-block;
}

.details-container .description {
  clear: both;
}
.admin-list  .details-container a {
  margin: 0;
  padding: 0;
  display: inline;
}

.live-example {
  display: inline-block;
  float: left;
}
.admin-list li a.live-example-link {
  padding: 0.875rem 0;
  font-weight: 500;
}

.live-example-link:before {
  font-family: fontello;
  content: '\e801';
  padding-right: 0.25rem;
  font-weight: 100;
}

.live-example-link:after {
  font-family: fontello;
  content: '\e802';
  padding-left: 0.25rem;
  font-weight: 100;
}

.details-container .description {
  color: #141414;
  margin-left: 0;
}
.details-container .description * {
  margin-left: 0;
  padding-left: 0;
}
.long-description ul {
  margin: 0;
  padding: 0 0 0 1rem;
}
.long-description h4 {
  color: #535353;
  margin: 0 0 0.75rem 0;
}
.long-description ul > li {
  list-style-type: disc;
  line-height: 1.25rem;
}
