/*
 * @file
 *
 * Styles and style overrides for the custom author homepage.
 */

.block-release-notes-block {
  margin: 0 0 1.25rem 0;
}
.block-release-notes-block details {
  margin: 0;
}
.author-home .views-element-container {
  background-color: #fff;
  border-radius: 6px;
  padding: 1.5rem;
}
.author-home .views-element-container h2,
.author-home .block-help-support-block h2,
.author-home .block-updates-block h2 {
  margin-top: 0;
}
