.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper.ui-state-active,
.ui-autocomplete .ui-menu-item:hover .ui-menu-item-wrapper {
  border: unset;
  font-weight: bold;
  text-decoration: underline;
  color: initial;
  background: #f2f2f2;
  margin: 0;
}

.ui-autocomplete .ui-menu-item {
  border: unset;
}

.ui-autocomplete .ui-menu-item .ui-menu-item-wrapper {
  width: calc(100% - 1.4em);
  display: inline-block;
  border-bottom: 1px solid transparent;
}

.ui-autocomplete .ui-menu-item:hover {
  background: #f2f2f2;
}
