/**
 * @file
 * Mass Admin Breadcrumbs.
 */
.breadcrumb {
  line-height: 1.2em;
  padding: 12px 0;
  font-size: 1.25em;
  font-weight: 700;
}
.breadcrumb a {
  color: #535353;
}
/* IE8 does not support :not() and :last-child. */
.breadcrumb li:before {
  font-family: fontello;
  content: '\e808';
  color: #a0a0a0;
  font-size: 0.6em;
  padding: 0 3px;
}
