/*
 *@file
 * Special styling for contact info node form.
 */

.node-contact-information-form fieldset > legend {
  display: none;
}

.node-contact-information-form div.field--widget-entity-reference-paragraphs,
.node-contact-information-form div.field--widget-inline-entity-form-complex fieldset {
  border-top: 8px solid #f2f2f2;
}

.field--name-field-contact-more-info-link fieldset:not(.fieldgroup) {
  border-radius: 6px;
}
.field--name-field-contact-more-info-link .fieldset-wrapper {
  padding: 1.5rem;
}
