/**
 * @file
 * Collapsible details.
 *
 * @see collapse.js
 * @see http://nicolasgallagher.com/css-background-image-hacks/
 */

details {
  /*border: none;*/
  border: 1px solid #535353;
  border-radius: 3px;
  margin-top: 1.5rem;
  margin-bottom: 0;
  line-height: 1.3125rem;
  overflow: auto;
}

details .details-wrapper {
  padding: 0 0.75rem 1.5rem;
  overflow: auto;
}

html:has([data-fullscreen="fullscreenoverlay"]) details .details-wrapper,
html:has([data-fullscreen="fullscreenoverlay"]) details {
  overflow: initial !important;
}

.details-description {
  font-size: 1.3125rem;
  line-height: 1.5rem;
  margin-bottom: 2.25rem;
}
/* @todo Regression: The summary of uncollapsible details are no longer
     vertically aligned with the .details-wrapper in browsers without native
     details support. */

details summary {
  line-height: 1.375rem;
  font-size: 1.125rem;
  padding: 1.1875rem 0.75rem;
}
summary {
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

/* TESTING Remove this rule if it doesn't remove details expander icon */
details > summary:first-of-type {
  list-style-type: none;
}

summary,
.fieldgroup:not(.form-composite) > legend {
  text-transform: none;
}
details summary[aria-expanded="false"] {
  border-radius: 3px;
}
details summary[aria-expanded="false"]:before {
  font-family: fontello;
  content: '\e80b';
  font-size: 14px;
  font-weight: 300;
  float: right;
  color: #535353;
}
details summary[aria-expanded="false"]:hover,
details summary[aria-expanded="false"]:focus {
  background-color: #f2f2f2;
  text-decoration: none;
}

details summary[aria-expanded="true"]:before {
  font-family: fontello;
  content: '\e80b';
  font-size: 14px;
  font-weight: 300;
  float: right;
  color: #535353;
  transform: rotate(45deg);
}
details summary[aria-expanded="true"]:hover,
details summary[aria-expanded="true"]:focus {
  text-decoration: none;
}

details label {
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin: 0.75rem 0 0.5rem 0;
}
