/**
 * @file
 * Base styles for dropbuttons.
 */

/**
 * When a dropbutton has only one option, it is simply a button.
 */

.dropbutton-wrapper,
.dropbutton-wrapper div {
  box-sizing: border-box;
}
.dropbutton-wrapper,
.dropbutton-widget {
  display: block;
  position: relative;
}

@media screen and (max-width: 600px) {
  .dropbutton-wrapper {
    width: 100%;
  }
}

/* Splitbuttons */
@media screen and (min-width: 600px) {
  .form-actions .dropbutton-wrapper {
    float: left; /* LTR */
  }
  [dir="rtl"] .form-actions .dropbutton-wrapper {
    float: right;
  }
}
.form-actions .dropbutton-widget {
  position: static;
}
td .dropbutton-widget {
  position: absolute;
}

.node-form .layout-region-node-main td .dropbutton-multiple .dropbutton-widget {
  position: static;
}

td .dropbutton-wrapper {
  min-height: 2em;
}
td .dropbutton-multiple,
td .dropbutton-single {
  padding-right: 10em; /* LTR */
  margin-right: 2em; /* LTR */
  max-width: 100%;
}
[dir="rtl"]td .dropbutton-multiple,
[dir="rtl"]td .dropbutton-single {
  padding-right: 0;
  margin-right: 0;
  padding-left: 10em;
  margin-left: 2em;
}
td .dropbutton-multiple .dropbutton-action a,
td .dropbutton-multiple .dropbutton-action input,
td .dropbutton-multiple .dropbutton-action button {
  width: auto;
  padding: 0.25rem 1rem;
}

/* UL styles are over-scoped in core, so this selector needs weight parity. */
.dropbutton-widget .dropbutton {
  list-style-image: none;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
.dropbutton li,
.dropbutton a {
  display: block;
  outline: none;
}

.dropbutton li:hover,
.dropbutton li:focus,
.dropbutton a:hover,
.dropbutton a:focus {
  outline: initial;
}

/**
 * The dropbutton styling.
 *
 * A dropbutton is a widget that displays a list of action links as a button
 * with a primary action. Secondary actions are hidden behind a click on a
 * twisty arrow.
 *
 * The arrow is created using border on a zero-width, zero-height span.
 * The arrow inherits the link color, but can be overridden with border colors.
 */
.dropbutton-multiple .dropbutton-widget {
  padding-right: 2em; /* LTR */
}
[dir="rtl"] .dropbutton-multiple .dropbutton-widget {
  padding-left: 2em;
  padding-right: 0;
}
.dropbutton-multiple.open,
.dropbutton-multiple.open .dropbutton-widget {
  max-width: none;
}
.dropbutton-multiple.open {
  z-index: 100;
}
.dropbutton-multiple .dropbutton .secondary-action {
  display: none;
}
.dropbutton-multiple.open .dropbutton .secondary-action {
  display: block;
}
.dropbutton-toggle {
  bottom: 0;
  display: block;
  position: absolute;
  right: 0; /* LTR */
  text-indent: 110%;
  top: 0;
  white-space: nowrap;
  width: 2em;
}
[dir="rtl"] .dropbutton-toggle {
  left: 0;
  right: auto;
}
.dropbutton-toggle button {
  background: none;
  border: 0;
  cursor: pointer;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.dropbutton-toggle button:hover,
.dropbutton-toggle button:focus {
  outline: initial;
}
.dropbutton-arrow {
  border: none;
  display: block;
  height: inherit;
  width: 100%;
  line-height: 1.125rem;
  position: relative;
  margin: 0;
  overflow: visible;
}

[dir="rtl"] .dropbutton-arrow {
  left: 0.6667em;
  right: auto;
}
.dropbutton-multiple.open .dropbutton-arrow {
  border: none;
  top: 0;
}
.dropbutton-arrow:after,
.dropbutton-multiple.open .dropbutton-arrow:after {
  font-family: fontello;
  position: absolute;
  font-size: 12px;
  width: 100%;
  height: auto;
  right: 0;
  top: 8px;
}
.dropbutton-arrow:after {
  content: '\e803';
}

.dropbutton-multiple.open .dropbutton-arrow:after {
  content: '\e80f';
}
td .dropbutton-arrow:after,
td .dropbutton-multiple.open .dropbutton-arrow:after {
  top: 3px;
}
