/**
 * @file
 * Styling dropbuttons.
 */

/**
 * Reset styling for all elements.
 */
.js .dropbutton .dropbutton-action > input,
.js .dropbutton .dropbutton-action > a,
.js .dropbutton .dropbutton-action > button {
  color: #14558f;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-weight: 600;
  line-height: 1.125rem;
  -webkit-font-smoothing: antialiased;
  text-align: left; /* LTR */
}
[dir="rtl"].js .dropbutton .dropbutton-action > input,
[dir="rtl"].js .dropbutton .dropbutton-action > a,
[dir="rtl"].js .dropbutton .dropbutton-action > button {
  text-align: right;
  margin-left: 0; /* This is required to win over specificity of [dir="rtl"] .dropbutton-multiple .dropbutton .dropbutton-action > * */
}
.js .dropbutton-action.last {
  border-radius: 0 0 0 3px; /* LTR */
}
[dir="rtl"] .js .dropbutton-action.last {
  border-radius: 0 0 3px 0;
}

/**
 * Overwrite Sevens button styling.
 */
.js .dropbutton-widget .button {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}
.js .dropbutton-multiple .dropbutton {
  border-right: 0; /* LTR */
}
[dir="rtl"].js .dropbutton-multiple .dropbutton {
  border-left: 0;
}

/**
 * Show dropbutton elements as buttons when javascript is disabled
 */
.dropbutton {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.dropbutton li + li {
  margin-top: 10px;
}
.js .dropbutton li {
  margin-bottom: 0;
  margin-right: 0;
}
.js .dropbutton li + li {
  margin-top: 0;
}

@media screen and (min-width: 37.5625em) { /* 601px */
  .dropbutton li {
    display: inline-block;
  }
  .dropbutton li + li {
    margin-left: 1em;
    margin-top: 0;
  }
  .js .dropbutton li + li {
    margin-left: 0;
  }
}

/**
 * Copied styling for .button.
 */
.js .dropbutton-multiple .dropbutton-widget {
  color: #14558f;
  background-color: #e7eef4;
  background-image: none;
  border-radius: 3px;
  border: 1px solid #14558f;
  text-shadow: none;
  font-weight: bold;
  line-height: 1.125rem;
  text-transform: uppercase;
}
.dropbutton-multiple.open .dropbutton-widget {
  border-radius: 3px;
}
.js .dropbutton-widget .dropbutton-action a,
.js .dropbutton-widget .dropbutton-action input,
.js .dropbutton-widget .dropbutton-action button {
  border-radius: 3px 0 0 3px; /* LTR */
  padding: 0.5625rem 1.5rem;
  /* Todo write a new padding rule for when dropbuttons are inside of tables. */
  display: block;
  width: 100%;
}
[dir="rtl"].js .dropbutton-widget .dropbutton-action a,
[dir="rtl"].js .dropbutton-widget .dropbutton-action input,
[dir="rtl"].js .dropbutton-widget .dropbutton-action button {
  border-radius: 0 3px 3px 0;
}
.js .dropbutton-widget .dropbutton-action a:focus,
.js .dropbutton-widget .dropbutton-action input:focus,
.js .dropbutton-widget .dropbutton-action button:focus {
  text-decoration: underline;
}
.js .dropbutton-multiple.open .dropbutton-action a,
.js .dropbutton-multiple.open .dropbutton-action .button {
  border-radius: 0;
}
.js .dropbutton-multiple.open .dropbutton-action:first-child a,
.js .dropbutton-multiple.open .dropbutton-action:first-child .button {
  border-radius: 3px 0 0 0; /* LTR */
}
[dir="rtl"].js .dropbutton-multiple.open .dropbutton-action:first-child a,
[dir="rtl"].js .dropbutton-multiple.open .dropbutton-action:first-child .button {
  border-radius: 0 3px 0 0;
}
.js .dropbutton-multiple.open .dropbutton-action:last-child a,
.js .dropbutton-multiple.open .dropbutton-action:last-child .button {
  border-radius: 0 0 0 3px; /* LTR */
}
[dir="rtl"].js .dropbutton-multiple.open .dropbutton-action:last-child a,
[dir="rtl"].js .dropbutton-multiple.open .dropbutton-action:last-child .button {
  border-radius: 0 0 3px 0;
}
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:focus,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:focus,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:focus {
  background-color: #e7eef4;
  background-image: none;
  color: #14558f;
  box-shadow: none;
  z-index: 3;
  text-decoration: underline;
}
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action a:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action input:active,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-action button:active {
  text-decoration: none;
  background-color: #e7eef4;
  background-image: none;
  box-shadow: none;
}
.dropbutton .secondary-action {
  border-top: 1px solid #14558f;
}

/**
 * Rare instances when a dropbutton is actually just a button.
 */
.dropbutton-single .dropbutton-widget {
  border: 0;
  position: static;
  display: inline-block;
}
.dropbutton-single .dropbutton-action a {
  padding: 0.5625rem 1.5rem;
  border: 1px solid #14558f;
  border-radius: 3px !important;
  background-color: #e7eef4;
  background-image: none;
  color: #14558f;
  text-decoration: none;
  text-shadow: none;
  font-weight: 600;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-font-smoothing: antialiased;
  width: auto !important;
}
.dropbutton-single .dropbutton-action a:hover,
.dropbutton-single .dropbutton-action a:focus {
  background-color: #e7eef4;
  background-image: none;
  color: #1a1a1a;
  text-decoration: none;
  outline: none;
}
.dropbutton-single .dropbutton-action a:hover,
.dropbutton-single .dropbutton-action a:focus {
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.125);
}
.dropbutton-single .dropbutton-action a:active {
  background-color: #dfdfd9;
  background-image: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
}
.dropbutton-single .dropbutton-action a.use-ajax {
  float: left;
}

/**
 * The dropdown trigger.
 */
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  border-left: 1px solid #14558f; /* LTR */
  outline: none;
}
[dir="rtl"].js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  border-right: 1px solid #14558f;
  border-left: 0;
}
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  border-radius: 0 3px 3px 0; /* LTR */
}
[dir="rtl"].js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  border-radius: 3px 0 0 3px;
}
.dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle button {
  border-radius: 0 3px 3px 0; /* LTR */
}
[dir="rtl"] .dropbutton-multiple.open .dropbutton-widget .dropbutton-toggle button {
  border-radius: 3px 0 0 3px;
}
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover,
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:focus {
  background-color: #e7eef4;
  background-image: none;
  color: #14558f;
  text-decoration: none;
  box-shadow: none;
  z-index: 3;
}
.js .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:active {
  background-color: #e7eef4;
  background-image: none;
  box-shadow: none;
}
.dropbutton-arrow {
  border-top-color: #14558f;
  right: 0; /* LTR */
  top: 0;
}
[dir="rtl"] .dropbutton-arrow {
  left: 0;
  right: auto;
}
.dropbutton-multiple.open .dropbutton-arrow {
  border: none;
  top: 0;
}

/**
 * Form edit action theming.
 * Copied styling from .button--primary.
 */
.js .form-actions .dropbutton .dropbutton-action > * {
  color: #fff;
  font-weight: 700;
  text-shadow: none;
}
.js .form-actions .dropbutton-widget {
  border-color: #14558f;
  background-color: #14558f;
  background-image: none;
  text-shadow: none;
  position: relative;
}
.form-actions .dropbutton-multiple.open .dropbutton-widget {
  background-image: none;
}
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:hover,
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:focus {
  background-color: #14558f;
  background-image: none;
  box-shadow: none;
  color: #fff;
}
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-action .button:active {
  background-image: none;
  border-color: #fff;
  box-shadow: none;
}
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button,
.form-actions .dropbutton .secondary-action {
  border-color: #fff;
}
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button {
  background-image: none;
}
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:hover,
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:focus {
  background-color: #14558f;
  background-image: none;
}
.js .form-actions .dropbutton-wrapper .dropbutton-widget .dropbutton-toggle button:active {
  background-image: none;
  border-color: #fff;
  box-shadow: none;
}
.form-actions .dropbutton-arrow {
  border: none;
  color: #fff;
}
.form-actions .dropbutton-multiple.open .dropbutton-arrow {
  border: none;
  color: #fff;
}
