.entity-browser-iframe-container {
  width: 100% !important;
}
.entity-browser-iframe-container:after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 501;
  box-shadow: inset 0 0 10px #dcdcdc;
  pointer-events: none;
  border-radius: 6px;
}
