/**
 * Entity meta settings for Mass Admin.
 */
.entity-meta {
  border: none;
  border-radius: 6px;
  background-color: #dcdcdc;
  box-shadow: none;
}
.entity-meta__header {
  border-bottom: 1px solid #14558f;
}
.doc-form-meta__header {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.entity-meta__header,
.doc-form-meta__header {
  background-color: #fff;
  border-top: none;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: .75rem 1.5rem;
}
.entity-meta__header .entity-meta__title {
  margin-top: 0;
  text-shadow: none;
}
.entity-meta p {
  font-size: 1.125rem;
}
.entity-meta details {
  background-color: #fff;
  border-top: none;
  border-bottom: 1px solid #14558f;
}
.entity-meta .details-description {
  font-size: 1.125rem;
}
.entity-meta details[open] {
  background-image: none;
}
.entity-meta details > summary {
  color: #535353;
  text-shadow: none;
}
.entity-meta details:last-child {
  border-bottom: none;
}
.entity-meta .details-wrapper,
.entity-meta details:last-child {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.entity-meta details summary[aria-expanded="false"]:hover,
.entity-meta details summary[aria-expanded="false"]:focus {
  background-color: #fff;
}

.entity-meta .field-multiple-table td.mass-description {
  padding: 0.75rem;
}
.entity-meta .form-item .field-multiple-table thead h4 {
  padding: 0.75rem 0 0 0.75rem;
}
.entity-meta .form-item .field-add-more-submit:first-child {
  margin-top: 0.75rem;
}
/*
 * Needed TEMPORARY UNPUBLISHED ACCESS is not in its container and the margin breaks.
 */
.access-unpublished-form label {
  margin: 0;
}
.access-unpublished-form .details-wrapper {
  padding-bottom: 1.5rem;
}
