/*
 *@file
 * Styles for custom Feedback Manager page.
 */

/* Exposed form */
#mass-feedback-loop-author-interface-form #edit-form-wrapper {
  background-color: #fff;
  border-radius: 6px;
  padding: 1.5rem;
  margin-bottom: 3rem;
  overflow: auto;
}
#mass-feedback-loop-author-interface-form .form-wrapper > em {
  display: block;
}
#mass-feedback-loop-author-interface-form .form-wrapper > .form-item {
  display: inline-block;
  float: left;
  margin-right: 0.75rem;
}
#mass-feedback-loop-author-interface-form fieldset.fieldgroup {
  margin-top: 2.25rem;
  margin-bottom: 0;
  padding: 0;
}
#mass-feedback-loop-author-interface-form .fieldset-wrapper {
  margin-top: 1.125rem;
}
#mass-feedback-loop-author-interface-form fieldset legend {
  margin: 0;
}
#mass-feedback-loop-author-interface-form  .form-radios .form-item {
  display: inline-block;
  margin-right: 0.75rem;
}

/* Add a tag button */
.button.link-open-modal-add-tag {
  font-size: 1rem;
  line-height: 1.125rem;
  color: #fff;
  background-color: #14558f;
  white-space: nowrap;
  text-transform: none;
  padding: 0.25rem 1rem;
  margin-bottom: 0.25rem;
}
.button.link-open-modal-add-tag:before {
  font-family: fontello;
  content: '\e800';
  padding-right: 0.25rem;
}
.button.link-open-modal-add-tag:hover {
  background-color: #e7eef4;
  color: #14558f;
  border-color: #14558f;
}

/* Tags */
#feedback-tags-list .button {
  text-transform: none;
}
.button .link-open-modal-remove-tag:after {
  font-family: fontello;
  content: '\e806';
  border-radius: 0;
  font-size: 0.75rem;
  font-weight: normal;
  height: 19px;
  width: 19px;
  color: #14558f;
  background-color: transparent;
}
.button .link-open-modal-remove-tag:hover::after {
  color: #fff;
}

/* Modal */
.mass-feedback-loop-tag-modal-form select {
  width: 100%;
}
.mass-feedback-loop-tag-modal-form .form-item-select-tag {
  margin-bottom: 0.75rem;
}
.mass-feedback-loop-tag-modal-form .button {
  margin: 0;
}
