/*
 *@file
 *Styles for file inputs.
 */

.button.mass-input-file {
  margin-right: 0.5625rem;
}

.no-file-chosen {
  font-size: 1.125rem;
  line-height: 1.3125rem;
}

/* We hide the original input so screen readers don't get confused by duplicate inputs. */
input[type=file] {
  display: none;
}
