/**
 * @file
 * Form element style overrides for Mass Admin.
 */

input.form-autocomplete,
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-number,
input.form-color,
input.form-file,
input.form-date,
input.form-time,
textarea.form-textarea {
  font-size: 1.125rem;
  line-height: 1.3125rem;
  background: #fff;
  border: 1px solid #14558f;
  border-radius: 3px;
  box-shadow: none;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  color: #535353;
}

input.form-autocomplete,
input.form-text,
input.form-tel,
input.form-email,
input.form-url,
input.form-search,
input.form-color,
input.form-file,
input.form-date,
input.form-time,
textarea.form-textarea {
  width: 100%;
}

ul.tips,
div.description,
.description p,
.description div,
.form-item .description {
  font-size: 1.125rem;
  line-height: 1.5rem;
  margin: 0.75rem;
}

.form-item {
  margin-bottom: 0;
}

div[class^="field--type-"] {
  padding-bottom: 2.25rem;
  border-top: 0.5rem solid #f2f2f2;
}

div.field--type-metatag,
div.field--type-language {
  padding: 0;
  border-top: 0;
}

div.field--type-language {
  padding-bottom: 2.25rem;
  border-top: 0.5rem solid #f2f2f2;
}

div[class^="field--type-"] .form-item label {
  font-size: 1.3125rem;
  line-height: 1.5625rem;
}

label {
  margin: 1.5rem 0 0.75rem;
  font-weight: bold;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  color: #141414;
}

.form-composite > legend,
.label {
  display: block;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  font-weight: bold;
  color: #141414;
  margin: 1.5rem 0 0.75rem;
  padding: 0;
}

.form-disabled label {
  color: #737373;
}
.form-text:focus,
.form-tel:focus,
.form-email:focus,
.form-url:focus,
.form-search:focus,
.form-number:focus,
.form-color:focus,
.form-file:focus,
.form-textarea:focus,
.form-date:focus,
.form-time:focus {
  border-color: #43956f;
  outline: 0;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, .05), 0 0 8px #43956f;
  background-color: #fff;
}

/**
 * Select elements
 */
select {
  -moz-appearance: none;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  padding: 0.5rem 1.5625rem 0.5rem 0.5rem; /* LTR */
  border: 1px solid #14558f;
  border-radius: 3px;
  background: url(../../icons/333333/caret-down.svg) no-repeat 99% 63%, #fff; /* LTR */
  text-shadow: none;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  -webkit-font-smoothing: antialiased;
}

select::-ms-expand {
  display: none;
}

[dir="rtl"] select {
  padding: 0.5rem 0.5rem 0.5rem 1.5625rem;
  background-position: 1% 63%, 0 0;
}

.form--inline {
  background-color: #fff;
  border-radius: 6px;
  padding: 0 0.75rem;
  margin-bottom: 3rem;
}

[id^="node-"][id$="-entity-hierarchy-reorder-form"] .dropbutton-multiple {
  padding-right: 0;
}

.views-exposed-form fieldset {
  margin-block: var(--space-s) 0;
  margin-inline: 0 var(--space-xs);
}

.views-exposed-form fieldset .fieldset-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
}

.views-exposed-form .form--inline {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

/* Field layout special cases */
/* ToDo: Move these to their own stylesheets.*/

/* widget area/add iframe */
.field--name-field-iframe {
  margin-top: 1.5rem;
}
.field--name-field-iframe strong {
  font-size: 1.3125rem;
  line-height: 1.5625rem;
}
.field--name-field-iframe .paragraph-type-title {
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  font-weight: bold;
}
.field--name-field-iframe-admin-title,
.field--name-field-iframe-accessibility-title,
.field--name-field-iframe .field--name-moderation-state {
  border-bottom: none;
  padding-bottom: 0;
}

/* Image credits field */
.field--name-field-image-credit thead tr {
  border-bottom: none;
}
.field--name-field-image-credit th.field-label {
  font-size: 1.3125rem;
  line-height: 1.5625rem;
}
.field--name-field-image-credit td {
  padding: 1.5rem 0;
}

.field--type-entity-reference.field--name-moderation-state {
  padding: 0;
  border: none;
}

/* Date and time field */
.field--type-daterange fieldset {
  border-top: 0;
}

.field--type-daterange .container-inline {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.field--type-daterange .container-inline > .form-type-select {
  flex: 1 0 auto;
  margin-right: 0.75rem;
}

.field--type-daterange .container-inline select {
  width: 100%;
}

.entity-browser-media-browser-form {
  background-color: #fff;
}

/* end Field layout special cases */

/* FIELD GROUP TABS */
.field-group-tab {
  padding: 0;
}

/* FIELDSETS */
fieldset {
  border: none;
}

fieldset:not(.fieldgroup) {
  background-color: #fff;
  border-radius: 0;
  padding: 0;
  min-width: 0;
  position: relative;
}

fieldset:not(.fieldgroup) > legend {
  font-weight: bold;
  letter-spacing: normal;
  position: relative;
  text-transform: none;
  top: 1.5rem;
}

.form-composite > .fieldset-wrapper > .description,
.form-item .description {
  font-size: 1.125rem;
  margin-left: 0;
}

fieldset .fieldset-wrapper .container-inline input {
  margin-bottom: 1.5rem;
}

.ief-form .node-edit-protection-processed {
  margin-top: 1.5rem;
  margin-left: 0;
}
.ief-form .fieldset-legend {
  display: block;
  margin-bottom: 0.5rem;
}

/* DRAGGABLE TABLE ROWS */
form .field-multiple-table thead > tr {
  padding: 0;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  border: none;
}
.field-multiple-table td.mass-description {
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding: 0.75rem 0 0 0;
}
.form-item .field-multiple-table thead .field-label {
  padding: 0;
}
.form-item .field-multiple-table thead h4 {
  margin-top: 0;
  margin-bottom: 0;
}
div.js-form-item  .field-multiple-table tr.draggable {
  border-top: 1.25rem solid #fff;
  border-bottom: 1.5rem solid #fff;
}

form .field-multiple-table tr.draggable td > div,
form .field-multiple-table tr.draggable td > .ajax-new-content > div {
  padding: 0.375rem 1.5rem 0.375rem 0.75rem;
}
form .field-multiple-table tr.draggable td > div.ajax-new-content {
  padding: 0;
}
form .field-multiple-table .field-multiple-drag {
  width: auto;
  padding: 0;
  vertical-align: top;
  border-right: 8px solid #f2f2f2;
}
form .field-multiple-table tr.draggable,
form .field-multiple-table td label {
  margin-top: 0;
}

form .field-multiple-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 0;
}

form .field-multiple-table .form-item label {
  color: #535353;
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-bottom: 0.5rem;
}

form .field-multiple-table .field-multiple-drag .tabledrag-handle {
  padding-right: 0.75rem;
  padding-left: 1.5rem;
}

form .field-add-more-submit {
  margin: 0 .5rem;
}

form .field-add-more-submit:first-child {
  margin-right: 0.5rem;
}

/* DRAGGABLE TABLE ROWS INSIDE OF FIELDSETS */
fieldset tr.draggable .field--type-entity-reference,
fieldset tr.draggable .field--type-string {
  border-bottom: none;
  padding-bottom: 0;
}

fieldset.js-form-item tr.draggable td + td,
div.js-form-item tr.draggable td + td {
  padding: 0;
  width: 100%;
}

/*
 * Style overrides for inline entity forms
 */

/* Above rule on td's in draggable tr's needs to be refactored. In the meantime we need an override for ief's. */
fieldset.js-form-item .ief-entity-table tr.ief-row-entity td,
div.js-form-item .ief-entity-table tr.ief-row-entity td {
  width: auto;
}

.ief-row-entity td .ief-entity-operations {
  padding: 0.25rem;
}

@media screen and (max-width: 600px) {
  .entity-browser-media-browser-form .form-wrapper input[type="submit"] {
    width: auto;
  }
  .entity-browser-media-browser-form .form-wrapper .is-entity-browser-submit {
    margin-left: 0.5rem;
  }
  .form-actions input:first-child,
  .form-wrapper input[type="submit"]:first-child {
    margin-top: 1rem;
  }
}

/* Entity browser form elements  */
.entity-browser-browse-files-form .js-form-item-upload {
  padding: 0 1.25rem;
}
.entity-browser-browse-files-form .field-prefix {
  font-size: 1.3125rem;
  line-height: 1.5rem;
}

.field--name-title .counter.warning.error mark,
.field--name-field-regulation-title .counter.warning.error mark,
.field--name-field-executive-title .counter.warning.error mark {
  background: #ff0;
}

.field--name-title .counter mark,
.field--name-field-regulation-title .counter mark,
.field--name-field-executive-title .counter mark {
  background: unset;
}


.field--name-title .form-type-textfield .counter,
.field--name-field-regulation-title .form-type-textfield .counter,
.field--name-field-executive-title .form-type-textfield .counter {
  order: 5;
  margin-top: 1rem;
}

.field--name-title .form-type-textfield,
.field--name-field-regulation-title .form-type-textfield,
.field--name-field-executive-title .form-type-textfield {
  display: flex;
  flex-direction: column;
}

.field--name-title .form-type-textfield .description,
.field--name-field-regulation-title .form-type-textfield .description,
.field--name-field-executive-title .form-type-textfield .description {
  margin-bottom: 1rem;
}

.label.form-required::after {
  display: inline-block;
  margin-inline: 0.15em;
  content: "*";
  color: var(--color-maximumred);
  font-size: 0.875rem;
}

#breadcrumb-preview-wrapper ol.breadcrumb__list li.breadcrumb__item:first-child:before,
#block-mass-admin-theme-breadcrumbs ol.breadcrumb__list li.breadcrumb__item:first-child:before {
  display: none;
}

#breadcrumb-preview-wrapper .breadcrumb__item + .breadcrumb__item::before,
#block-mass-admin-theme-breadcrumbs .breadcrumb__item + .breadcrumb__item::before {
  font-family: fontello;
  content: '\e808';
  color: #a0a0a0;
  font-size: 0.6em;
  padding: 0 3px;
}

#block-mass-admin-theme-breadcrumbs .breadcrumb__item {
  font-size: 1rem;
}

.no-file-chosen {
  margin-left: 5px;
}

.form-actions .action-link.action-link--danger {
  background-image: none;
  border-radius: 3px;
  border: 1px solid var(--color-maximumred);
  text-shadow: none;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.125rem;
  text-transform: uppercase;
  padding: 0.5625rem 1.5rem;
}

.author-home .main-content-region {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(0, 3fr) minmax(22.5rem, 1fr);
  gap: var(--space-l);
}

form.node-form .claro-details .claro-details__description {
  font-size: var(--font-size-base);
}

#mass-feedback-loop-author-interface-form .form-item,
#mass-feedback-loop-per-node-form .form-item {
  max-width: 500px;
  margin-right: 2em;
  float: left;
}

#mass-feedback-loop-author-interface-form .js-form-item-filter-by-org,
#mass-feedback-loop-author-interface-form .js-form-item-filter-by-author,
#mass-feedback-loop-per-node-form .js-form-item-filter-by-org,
#mass-feedback-loop-per-node-form .js-form-item-filter-by-author {
  min-width: 400px;
}

#mass-feedback-loop-author-interface-form .form-btn-wrapper,
#mass-feedback-loop-per-node-form .form-btn-wrapper {
  clear: both;
  padding: 2em 0;
}

.select2-selection__choice__remove {
  float: right;
  margin-left: 5px;
}

.views-exposed-form__item--preceding-actions.views-exposed-form__item--preceding-actions,
.views-exposed-form__item.views-exposed-form__item,
.views-exposed-form__item.views-exposed-form__item.views-exposed-form__item--actions {
  align-self: flex-end;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 0.25rem;
  overflow: visible; /* allow growth */
  box-sizing: border-box;
}

.select2-container--default .select2-selection--multiple {
  min-height: auto;
  height: auto;
}

.select2-container--default .select2-selection--multiple .select2-search--inline {
  flex: 1 1 auto;
  min-width: 100px;
}
