/**
 * @file
 * Image upload widget.
 *
 */

.image-widget-data input {
  margin-bottom: 1.5rem;
}

.image-widget .form-type--checkbox.form-item[class*="-decorative"] {
  clear: none;
  margin-left: 9rem;
}

.image-widget .form-type--checkbox.form-item[class*="-decorative"] .description {
  margin-left: 0;
}
