/**
 *@file
 * Styles for intro block on the top of node/add
 */

#block-introtextblock {
  font-size: 1.3125rem;
  line-height: 1.5rem;
  margin-bottom: 2.25rem;
}
#block-introtextblock p,
#block-introtextblock div {
  margin: 0;
}
#block-introtextblock div + div,
#block-introtextblock p + p {
  margin-top: 0;
  margin-bottom: 0.75rem;
  padding: 0;
}
