/**
* @file
* Page title.
*/


/* Adds an eyebrow to node edit pages */
.path-node .page-title em {
  display: block;
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  color: #535353;
  line-height: 1;
  letter-spacing: 0.08125rem;
  padding: 5px 7px;
  background: #dcdcdc;
  width: fit-content;
  margin-bottom: 12px;
}
