/**
 * @file
 * Styles for Mass Admin's Pagination.
 */
.pager__items {
  margin: 0.25rem 0 0.25rem 1.5rem; /* LTR */
  padding: 0;
}
[dir="rtl"] .pager__items {
  margin: 0.25rem 1.5rem 0.25rem 0;
}
.pager__item {
  display: inline-block;
  color: #14558f;
  font-size: 1rem;
  line-height: 1.1875rem;
  margin: 0;
  padding: 0 0.4rem;
}
.pager__item.is-active {
  background-color: #14558f;
  color: #fff;
}
.pager__item a {
  border-bottom: 3px solid transparent;
  line-height: 1.1875rem;
  padding: 0 5px 2px;
  font-weight: bold;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
.pager__item.is-active a {
  border-bottom: none;
  /*border-bottom-color: #14558f;*/
  font-weight: bold;
  color: #fff;
}
.pager__item.is-active a:hover {
  color: #fff;
}
.pager__item a:hover,
.pager__item a:focus {
  color: #14558f;
  border-bottom-color: #14558f;
}
.pager__item--next a,
.pager__item--last a,
.pager__item--first a,
.pager__item--previous a {
  color: #14558f;
  text-transform: uppercase;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}
.pager__item--next a span,
.pager__item--last a span,
.pager__item--first a span,
.pager__item--previous a span {
  display: inline-block;
}

.pager__item--previous:before {
  font-family: fontello;
  content: '\e807';
  font-size: 14px;
  color: #8aaac7;
  padding-right: 5px;
}

.pager__item--next:after {
  font-family: fontello;
  content: '\e808';
  font-size: 14px;
  color: #8aaac7;
  padding-left: 5px;
}
