/**
 * @file
 * Styles for paragraphs that live in the admin forms. These are mostly overrides for more general styles.
 */

.paragraph-type-label {
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #535353;
  font-weight: bold;
}

.paragraphs-subform fieldset {
  border-top: none;
}

.paragraphs-subform .form-item {
  margin-bottom: 1.125rem;
}
.paragraphs-subform .container-inline {
  margin-top: 0.75rem;
}

/*div.field--widget-entity-reference-paragraphs,*/
div.field--widget-inline-entity-form-complex fieldset {
  border-top: none;
}
div.field--widget-inline-entity-form-complex .container-inline {
  margin-top: 0.75rem;
}

div.field--widget-entity-reference-paragraphs .form-wrapper > strong {
  display: block;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  margin: 1.5rem 0 0.75rem;
}

div.field--widget-entity-reference-paragraphs .description {
  margin-left: 0;
}

div.field--widget-entity-reference-paragraphs .description > strong {
  display: inline;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.js .field--widget-entity-reference-paragraphs .draggable .tabledrag-handle {
  padding-right: 0.75rem;
}

.paragraph-type-top .paragraph-type-title {
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  font-weight: bold;
  color: #141414;
}
.js .paragraph-type-title {
  flex-basis: auto;
}
.paragraphs-dropbutton-wrapper .field-add-more-submit {
  margin-bottom: 0.75rem;
  margin-left: 0;
}

.field-multiple-table .paragraphs-subform div[class^="field--type-"] {
  margin-bottom: 1.125rem;
  border-top: none;
}
.js .field--widget-entity-reference-paragraphs .tabledrag-handle .handle {
  padding-right: 0;
}
