/**
 * @file
 * Styles for paragraphs that live in the admin forms. These are mostly overrides for more general styles.
 */

.paragraph-type-label {
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #535353;
  font-weight: bold;
}

.paragraphs-subform fieldset {
  border-top: none;
}

.paragraphs-subform .form-item {
  margin-bottom: 1.125rem;
}
.paragraphs-subform .container-inline {
  margin-top: 0.75rem;
}

/*div.field--widget-entity-reference-paragraphs,*/
div.field--widget-inline-entity-form-complex fieldset {
  border-top: none;
}
div.field--widget-inline-entity-form-complex .container-inline {
  margin-top: 0.75rem;
}

div.field--widget-entity-reference-paragraphs .form-wrapper > strong {
  display: block;
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  margin: 1.5rem 0 0.75rem;
}

div.field--widget-entity-reference-paragraphs .description {
  margin-left: 0;
}

div.field--widget-entity-reference-paragraphs .description > strong {
  display: inline;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.js .field--widget-entity-reference-paragraphs .draggable .tabledrag-handle {
  padding-right: 0.75rem;
}

.paragraph-type-top .paragraph-type-title {
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  font-weight: bold;
  color: #141414;
}
.js .paragraph-type-title {
  flex-basis: auto;
}
.paragraphs-dropbutton-wrapper .field-add-more-submit {
  margin-bottom: 0.75rem;
  margin-left: 0;
}

.field-multiple-table .paragraphs-subform div[class^="field--type-"] {
  margin-bottom: 1.125rem;
  border-top: none;
}

.field--name-field-organization-sections .field-multiple-table .paragraphs-subform div[class^="field--type-"] {
  margin-bottom: 0;
  padding-bottom: 0;
}

.field--name-field-organization-sections .field-multiple-table .paragraphs-subform div[class^="field--type-"] > .form-item {
  margin-bottom: 1.125rem;
  padding-bottom: 2.25rem;
}

.js .field--widget-entity-reference-paragraphs .tabledrag-handle .handle {
  padding-right: 0;
}

.field--widget-entity-reference-paragraphs .form-radios label {
  word-break: break-word;
}
table#field-org-ref-locations-values tr.draggable td.delta-order {
 max-width: 6rem;
}
@media screen and (max-width: 1460px) {
  table#field-org-ref-locations-values tr.draggable td + td {
    display: block;
    min-width: 20rem;
  }
  table#field-org-ref-locations-values tr.draggable td.delta-order {
    display: block;
    text-align: left;
  }
  table#field-org-ref-locations-values tr.draggable td + td > div.form-item {
    padding-left: 0;
  }
}

.paragraphs-add-wrapper input[type=submit] {
  margin-bottom: 1rem;
}
