/**
 * @file
 * Table drag behavior.
 *
 * @see tabledrag.js
 */
body.drag {
  cursor: move;
}
.draggable a.tabledrag-handle {
  display: block;
  padding: 0.375rem 0.75rem 0 1.5rem;
  cursor: move;
  margin-left: 0; /* LTR */
  overflow: visible;
  text-decoration: none;
  height: inherit;
}
[dir="rtl"] .draggable a.tabledrag-handle {
  margin: 0;
  padding: 0.375rem 1.5rem 0 0.75rem;
}

a.tabledrag-handle .handle {
  height: 1.625rem;
  width: 0.875rem;
  margin: 0;
  padding: 0;
}

a.tabledrag-handle .handle,
a.tabledrag-handle:hover .handle,
a.tabledrag-handle:focus .handle {
  background: none;
}

a.tabledrag-handle .handle:before {
  font-family: fontello;
  content: '\e810';
  font-size: 1.625rem;
  vertical-align: text-top;
  font-weight: normal;
}
