/**
 * @file
 * Visual styles for table drag.
 */

body div.tabledrag-changed-warning {
  margin-bottom: 0.5em;
}

tr.drag > td,
tr.draggable.drag-previous,
tr.draggable.drag-previous > td,
tr.draggable.drag-previous a.tabledrag-handle {
  background-color: #e7eef4;
}

tr.drag > td.field-multiple-drag,
tr.draggable.drag-previous > td.field-multiple-drag {
  background-color: #fff;
  border-color: #e7eef4;
}

tr.draggable.hover > td {
  background-color: #f2f2f2;
}

tr.draggable.hover > td,
tr.draggable.drag-previous.hover > td {
  border-color: #f2f2f2;
}

tr.draggable.hover > td.field-multiple-drag {
  background-color: #fff;
}

tr.draggable a.tabledrag-handle:hover,
tr.draggable a.tabledrag-handle:focus,
tr.draggable.drag-previous a.tabledrag-handle:hover,
tr.draggable.drag-previous a.tabledrag-handle:focus {
  background-color: #f2f2f2;
}

tr.draggable.hover > td.field-multiple-drag {
  background-color: #fff;
}
