/**
 * @file
 * Style overrides for Tours in Mass Admin.
 */

.joyride-tip-guide {
  width: 22.5rem;
}

.joyride-tip-guide p {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.joyride-tip-guide h2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

.joyride-tip-guide .button {
  background-color: #14558f;
}
