/*
 * @file
 * Styles for Mass Admin views.
 */

.view-display-id-entity_browser_media .view-header {
  padding: 1.5rem 1.5rem 0 1.5rem;
  font-size: 1.125rem;
  line-height: 1.5rem;
}

.view-display-id-entity_browser_media .view-content {
  padding: 0 0.5rem;
}
.entity-browser-media-browser-form .is-entity-browser-submit {
  margin: 0 0 1.5rem 1.5rem;
}

.views-exposed-form .form-actions .form-submit {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  float: left;
}

.view-display-id-entity_browser_media td {
  padding: 0.375rem;
}

.view-content-reports.view-services-reports,
.view-content-reports.view-org-reports,
.view-content-reports-organizations.view-org-reports {
  overflow: auto;
}

.views-exposed-form #edit-field-media-english-version-target-id-op--wrapper legend {
  margin: 0;
}

/* DP-42700: Make Issue type filter wider in accessibility report */
.view-accessibility-report-for-authors .js-form-item-result-name {
  flex: 1 1 30rem;
}
.view-accessibility-report-for-authors .js-form-item-result-name .select2-container {
  min-width: 30rem;
  width: 100%;
}
.view-accessibility-report-for-authors .js-form-item-result-name select {
  min-width: 30rem;
  width: 100%;
}
