/**
 * Views styling
 *
 * A lot of the styling for the mass_admin theme broke the views UI pages. This style sheet is to fix this breakage.
 */


/* Views list page */
.views-ui-view-name h3 {
  font-size: 1.125rem;
  line-height: 1.25rem;
}

/* Add new view page */
form#view-add-form {
  background-color: #fff;
  border-radius: 6px;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

form#view-add-form fieldset {
  border-bottom: 8px solid #f2f2f2;
  padding-bottom: 1.25rem;
}


/* Views view admin UI */

.views-edit-view {
  background-color: #fff;
  border-radius: 6px;
  padding: 1.5rem;
  margin: 1.5rem 0 1.5rem 0;
}

.views-display-top {
  background-color: #f2f2f2;
  border: 1px solid #dcdcdc;
  border-bottom: none;
  position: relative;
}
.views-displays {
  border: none;
}
.edit-display-settings {
  margin: 0;
}
.views-admin .unit-title {
  font-size: 1.3125rem;
  line-height: 1.5625rem;
  font-weight: bold;
  margin-top: 0;
}
.views-edit-view .label {
  display: inline;
  font-size: inherit;
  font-weight: bold;
  margin: 0;
  padding: 0;
  line-height: 1.25rem;
  color: #535353;
}
.edit-display-settings-top.views-ui-display-tab-bucket {
  border: 1px solid #dcdcdc;
}
.views-display-column {
  border: 1px solid #dcdcdc;
  border-radius: 3px;
}
.views-edit-view .js .dropbutton-wrapper,
.views-edit-view .js .dropbutton-widget {
  display: block;
  position: relative;
}
.views-ui-display-tab-bucket .dropbutton-wrapper {
  top: 3px;
  right: 4px;
}
.views-edit-view .form-edit .button--primary {
  background-color: #14558f;
  color: #fff;
}
.views-edit-view .form-edit .button--primary:hover,
.views-edit-view .form-edit .button--primary:active,
.views-edit-view .form-edit .button--primary:focus {
  text-decoration: underline;
}

.views-edit-view .dropbutton-arrow {
  top: -4px;
}
.views-edit-view .dropbutton-arrow:after {
  font-size: 10px;
}
.views-ui-display-tab-bucket__title {
  font-size: medium;
  font-weight: bold;
}
.views-ui-display-tab-bucket__title,
.views-ui-display-tab-bucket > .views-display-setting {
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 6px;
  padding-left: 8px;
}
.views-ui-display-tab-bucket {
  border-bottom: 1px solid #dcdcdc;
}
.views-displays {
  background-color: #fff;
}
.views-ui-display-tab-bucket .views-display-setting {
  font-size: 0.875rem;
}
.views-edit-view .views-display-top .dropbutton-wrapper {
  position: absolute;
  right: 4px;
}

.views-edit-view .views-ui-display-tab-bucket .dropbutton-wrapper {
  position: absolute;
}

.views-display-setting .views-ajax-link {
  font-weight: 400;
}
.js .views-edit-view .dropbutton-wrapper .dropbutton .dropbutton-action > * {
  padding: 0.25rem 1rem;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.views-ui-display-tab-bucket .views-display-setting:nth-of-type(even) {
  background-color: #f2f2f2;
}
.views-ui-display-tab-actions.views-ui-display-tab-bucket .views-display-setting {
  background-color: transparent;
}
.views-edit-view summary {
  text-transform: uppercase;
  padding-top: 4px;
  padding-right: 8px;
  padding-bottom: 6px;
  padding-left: 8px;
}
.form-edit .form-actions {
  background-color: #fff;
  border: none;
  margin: 0;
  padding: 0;
}

.view-preview-form {
  background-color: #fff;
  border-radius: 6px;
}
.views-preview-wrapper {
  border: none;
}

.views-query-info table tr {
  background-color: #f2f2f2;
}
.view-preview-form__title {
  background-color: #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  margin-top: 0;
  padding: 8px 12px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.form-item-view-args input.form-text {
  width: auto;
  max-width: 100%;
}
.view-preview-form .form-item-view-args label {
  margin: 0 0.75rem 0.1rem;
}

.auto-entitylabel-settings-form {
  background-color: #fff;
  border-radius: 6px;
  padding: 1.5rem;
  margin-top: 1.5rem;
}
