/**
 * File: info-details-node-form.css
 *
 * Provides admin css overrides for info. details content edit form display.
 */
details.caspio {
  border: none;
}
details.caspio .details-wrapper {
  padding: 0;
}
details.caspio .seven-details__summary {
  display: none;
}

.seven-details__wrapper .field--name-field-caspio-data-identifier .description span {
  color: #c72100;
  word-break: break-all;
}
