/* Reset checkboxes style */
input[type="checkbox"],
input[type="radio"]{
  min-height: initial;
}

/* Common styles for .paragraph--type--image, .paragraph--type--iframe, and .paragraph--type--tableau-embed */
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--right.ma__figure-image):not(:has(.ma__figure--no-wrap)),
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--right.ma__figure-iframe):not(:has(.ma__figure--no-wrap)),
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--right.ma__dataviz):not(:has(.ma__figure--no-wrap)),
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--right.ma__dataviz) + .js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure--no-wrap) {
  float: right;
  position: relative;
  z-index: 9;
}

.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--left.ma__figure-image):not(:has(.ma__figure--no-wrap)),
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--left.ma__figure-iframe):not(:has(.ma__figure--no-wrap)),
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--left.ma__dataviz):not(:has(.ma__figure--no-wrap)),
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--left.ma__dataviz) + .js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure--no-wrap) {
  float: left;
  position: relative;
  z-index: 9;
}

.js-lpb-component.paragraph--type--image:not(:has(.ma__figure--no-wrap)) .ma__figure.ma__figure-image,
.js-lpb-component.paragraph--type--iframe:not(:has(.ma__figure--no-wrap)) .ma__figure.ma__figure-iframe,
.js-lpb-component.paragraph--type--tableau-embed:not(:has(.ma__figure--no-wrap)) .ma__figure.ma__dataviz,
.js-lpb-component.paragraph--type--tableau-embed:not(:has(.ma__figure--no-wrap)) + .js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure--no-wrap) .ma__figure.ma__dataviz {
  width: calc(100% - 20px);
  max-width: calc(100% - 20px);
}

/* Large figure adjustments */
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--left.ma__figure-image):not(:has(.ma__figure--no-wrap)):has(.ma__figure--large),
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--left.ma__figure-iframe):not(:has(.ma__figure--no-wrap)):has(.ma__figure--large),
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--left.ma__dataviz):not(:has(.ma__figure--no-wrap)):has(.ma__figure--large),
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--right.ma__figure-image):not(:has(.ma__figure--no-wrap)):has(.ma__figure--large),
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--right.ma__figure-iframe):not(:has(.ma__figure--no-wrap)):has(.ma__figure--large),
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--right.ma__dataviz):not(:has(.ma__figure--no-wrap)):has(.ma__figure--large),
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--right.ma__figure-image):not(:has(.ma__figure--no-wrap)) .ma__figure--large,
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--right.ma__figure-iframe):not(:has(.ma__figure--no-wrap)) .ma__figure--large,
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--right.ma__dataviz):not(:has(.ma__figure--no-wrap)) .ma__figure--large,
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--left.ma__figure-image):not(:has(.ma__figure--no-wrap)) .ma__figure--large,
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--left.ma__figure-iframe):not(:has(.ma__figure--no-wrap)) .ma__figure--large,
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--left.ma__dataviz):not(:has(.ma__figure--no-wrap)) .ma__figure--large {
  float: none;
  margin-left: 0;
  margin-right: 0;
}

/* Medium figure adjustments */
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--left.ma__figure-image):has(.ma__figure--medium),
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--left.ma__figure-iframe):has(.ma__figure--medium),
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--left.ma__dataviz):has(.ma__figure--medium),
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--right.ma__figure-image):has(.ma__figure--medium),
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--right.ma__figure-iframe):has(.ma__figure--medium),
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--right.ma__dataviz):has(.ma__figure--medium) {
  max-width: calc(50% - 20px);
}

.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--left.ma__figure-image):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text,
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--left.ma__figure-iframe):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text,
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--left.ma__dataviz):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text,
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--right.ma__figure-image):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text,
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--right.ma__figure-iframe):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text,
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--right.ma__dataviz):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text {
  overflow: auto;
  padding-left: 21px;
  padding-right: 21px;
}

.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--left.ma__figure-image):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text .lpb-controls,
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--left.ma__figure-iframe):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text .lpb-controls,
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--left.ma__dataviz):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text .lpb-controls,
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--right.ma__figure-image):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text .lpb-controls,
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--right.ma__figure-iframe):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text .lpb-controls,
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--right.ma__dataviz):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text .lpb-controls {
  top: 40px;
}

.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--left.ma__figure-image):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text .lpb-btn--add:first-child,
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--left.ma__figure-iframe):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text .lpb-btn--add:first-child,
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--left.ma__dataviz):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text .lpb-btn--add:first-child,
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--right.ma__figure-image):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text .lpb-btn--add:first-child,
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--right.ma__figure-iframe):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text .lpb-btn--add:first-child,
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--right.ma__dataviz):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text .lpb-btn--add:first-child {
  top: 0;
}

.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--left.ma__figure-image):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text .lpb-btn--add:last-child,
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--left.ma__figure-iframe):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text .lpb-btn--add:last-child,
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--left.ma__dataviz):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text .lpb-btn--add:last-child,
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--right.ma__figure-image):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text .lpb-btn--add:last-child,
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--right.ma__figure-iframe):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text .lpb-btn--add:last-child,
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--right.ma__dataviz):has(.ma__figure--medium) + .js-lpb-component.paragraph--type--rich-text .lpb-btn--add:last-child {
  bottom: 0;
}


/* Small figure adjustments */
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--left.ma__figure-image):not(:has(.ma__figure--no-wrap)):has(.ma__figure--small),
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--left.ma__figure-iframe):not(:has(.ma__figure--no-wrap)):has(.ma__figure--small),
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--left.ma__dataviz):has(.ma__figure--small),
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--right.ma__figure-image):not(:has(.ma__figure--no-wrap)):has(.ma__figure--small),
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--right.ma__figure-iframe):not(:has(.ma__figure--no-wrap)):has(.ma__figure--small),
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--right.ma__dataviz):has(.ma__figure--small) {
  max-width: calc(33.3% - 20px);
}

/* X-Small figure adjustments */
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--left.ma__figure-image):has(.ma__figure--x-small),
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--left.ma__figure-iframe):has(.ma__figure--x-small),
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--left.ma__dataviz):has(.ma__figure--x-small),
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--right.ma__figure-image):has(.ma__figure--x-small),
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--right.ma__figure-iframe):has(.ma__figure--x-small),
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--right.ma__dataviz):has(.ma__figure--x-small) {
  max-width: calc(25% - 20px);
}

/* Controls alignment */
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--left.ma__figure-image):not(:has(.ma__figure--no-wrap)) .lpb-controls,
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--left.ma__figure-iframe):not(:has(.ma__figure--no-wrap)) .lpb-controls,
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--left.ma__dataviz):not(:has(.ma__figure--no-wrap)) .lpb-controls,
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--right.ma__figure-image):not(:has(.ma__figure--no-wrap)) .lpb-controls,
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--right.ma__figure-iframe):not(:has(.ma__figure--no-wrap)) .lpb-controls,
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--right.ma__dataviz):not(:has(.ma__figure--no-wrap)) .lpb-controls {
  top: 20px;
}

/* Rich text adjustments */
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--left.ma__figure-image):not(:has(.ma__figure--no-wrap)) + .js-lpb-component.paragraph--type--rich-text .ma__rich-text,
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--left.ma__figure-iframe):not(:has(.ma__figure--no-wrap)) + .js-lpb-component.paragraph--type--rich-text .ma__rich-text,
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--left.ma__dataviz):not(:has(.ma__figure--no-wrap)) + .js-lpb-component.paragraph--type--rich-text .ma__rich-text,
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--right.ma__figure-image):not(:has(.ma__figure--no-wrap)) + .js-lpb-component.paragraph--type--rich-text .ma__rich-text,
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--right.ma__figure-iframe):not(:has(.ma__figure--no-wrap)) + .js-lpb-component.paragraph--type--rich-text .ma__rich-text,
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--right.ma__dataviz):not(:has(.ma__figure--no-wrap)) + .js-lpb-component.paragraph--type--rich-text .ma__rich-text {
  display: inline;
  position: relative;
  z-index: 0;
}

/* Clear floats */
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure-image):not(:has(.ma__figure--no-wrap)) + :not(.js-lpb-component.paragraph--type--rich-text):not(.js-lpb-component.paragraph--type--image),
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure-iframe):not(:has(.ma__figure--no-wrap)) + :not(.js-lpb-component.paragraph--type--rich-text):not(.js-lpb-component.paragraph--type--iframe),
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__dataviz) + :not(.js-lpb-component.paragraph--type--rich-text):not(.js-lpb-component.paragraph--type--tableau-embed),
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure-image):has(.ma__figure--no-wrap),
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure-iframe):has(.ma__figure--no-wrap) {
  clear: both;
}

.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--right.ma__figure-image):not(:has(.ma__figure--no-wrap)) .lpb-controls,
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--right.ma__figure-iframe):not(:has(.ma__figure--no-wrap)) .lpb-controls,
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--right.ma__dataviz):not(:has(.ma__figure--no-wrap)) .lpb-controls,
.js-lpb-component.paragraph--type--image:has(.ma__figure.ma__figure--left.ma__figure-image):not(:has(.ma__figure--no-wrap)) + .js-lpb-component.paragraph--type--rich-text .lpb-controls,
.js-lpb-component.paragraph--type--iframe:has(.ma__figure.ma__figure--left.ma__figure-iframe):not(:has(.ma__figure--no-wrap)) + .js-lpb-component.paragraph--type--rich-text .lpb-controls,
.js-lpb-component.paragraph--type--tableau-embed:has(.ma__figure.ma__figure--left.ma__dataviz):not(:has(.ma__figure--no-wrap)) + .js-lpb-component.paragraph--type--rich-text .lpb-controls {
  right: 0;
  left: initial;
}

.js-lpb-component-list::after {
  content: "";
  display: table;
  clear: both;
}

.ui-dialog.lpb-dialog:has(.lpb-component-list) {
  z-index: 9100;
}

.js-lpb-component-list .js-lpb-component:first-child {
  margin-top: 0;
}

.js-lpb-component-list .js-lpb-component:last-child {
  margin-bottom: 0;
}

.js-lpb-component {
  margin: 15px 0;
}

.js-lpb-component .ajax-progress-throbber {
  display: none;
}

.js-lpb-component.paragraph--type--stat:has(.ma__callout-stats--right) {
  width: 45%;
  min-width: 230px;
  float: right;
}

.js-lpb-component.paragraph--type--stat .ma__callout-stats--right {
  float: none;
  width: 100%;
}

.js-lpb-component.paragraph--type--stat .ma__callout-stats--right:before {
  z-index: 0;
}

.js-lpb-component.paragraph--type--stat .ma__callout-stats--right span {
  position: relative;
}

.js-lpb-component.paragraph--type--stat:has(.ma__callout-stats--right) + .js-lpb-component {
  width: 55%;
}

.js-lpb-component p,
.js-lpb-component li {
  font-size: 1.125rem;
}

.js-lpb-component-list .ma__action-finder .ma__callout-link {
  box-sizing: border-box;
}

.js-lpb-component.paragraph--type--links-downloads-flexible {
  width: 100%;
  clear: both;
}

.js-lpb-component.paragraph--type--links-downloads-flexible ul {
  margin-left: 0;
}

.js-lpb-component-list {
  max-width: 820px;
}

.ui-dialog:has(form.layout-paragraphs-component-form) {
  top: 70px !important;
}

.toolbar:has(.toolbar-tray-horizontal) ~ .ui-dialog:has(form.layout-paragraphs-component-form) {
  top: 125px !important;
}

@media (min-width: 976px) and (max-width: 1461px) {
  .toolbar:has(.toolbar-tray-horizontal) ~ .ui-dialog:has(form.layout-paragraphs-component-form) {
    top: 180px !important;
  }
}

@media (max-width: 975px) {
  .ui-dialog:has(form.layout-paragraphs-component-form) {
    z-index: 99999;
  }
}
