/**
 * Adjust the approver display on the Feedback Setup of the Org Page edit form.
 */

input#edit-field-approver-0-value {
  max-width: 250px;
}

#edit-field-approver-wrapper label {
  display: none;
}

div#edit-field-approver-wrapper {
  border-top: none;
}

div#edit-field-verification-wrapper {
  padding-bottom: 0.5rem;
}
