/* updates styling for the block */
.block-top-priorities-block {
  background-color: #fff;
  border-radius: 6px;
  padding: 1.5rem;
  margin: 0 0 1.25rem 0;
}

.block-top-priorities-block h2 {
  margin: 0 0 24px 0;
}

.block-top-priorities-block th[specifier="snooze"] {
  background-image: url('../images/alarm_clock_black.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 10px 0 10px 24px;
  margin-left: 10px;
}

.block-top-priorities-block .button {
  border: none;
  background-color: inherit;
  color: #14558f;
  text-transform: none;
  background-image: url('../images/alarm_clock.svg');
  background-position: left center;
  background-repeat: no-repeat;
  padding: 0 0 0 24px;
}

.block-top-priorities-block .button:hover {
  background-color: inherit;
  border: none;
  color: #14558f;
  text-decoration: underline;
  background-image: url('../images/alarm_clock.svg');
  background-position: left center;
  background-repeat: no-repeat;
  padding-left: 0 0 0 24px;
}

.block-top-priorities-block .button:disabled {
  background-image: url('../images/alarm_clock.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
  color: #14558f;
}

.block-top-priorities-block .button:focus {
  background-image: url('../images/alarm_clock.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
  color: #14558f;
}

.block-top-priorities-block .button:active {
  background-image: url('../images/alarm_clock.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
  color: #14558f;
}

.block-top-priorities-block .snooze-refresh .button {
  background-image: url('../images/restore.svg');
  font-weight: 900;
}

.block-top-priorities-block .snooze-refresh .button:hover {
  background-image: url('../images/restore.svg');
  font-weight: 900;
}

.block-top-priorities-block .ajax-progress-throbber {
  position: absolute;
}


a.red-link {
  color: red;
}

.snooze-table tr {
  height: 3.5rem;
}

.snooze-table tr.even {
  background: #f2f2f2;
  box-sizing: border-box;
}

.snooze-table .row-hidden {
  display: none;
}

.snooze-confirm-text .ajax-progress-throbber {
  display: inline;
}

.snooze-confirm-text {
  width: 80%;
  display: inline-block;
  vertical-align: middle;
}

.snooze-close {
  position: relative;
  width: 19%;
  display: inline-block;
}

.snooze-close:before {
  font-family: fontello;
  content: '\e80b';
  font-size: 14px;
  font-weight: 300;
  float: right;
  color: #535353;
  transform: rotate(45deg);
}

.snoozed-list a {
  float: right;
}

.snooze-refresh .button {
  display: inline-block;
}

.snooze-refresh.refresh-hidden .button {
  display: none;
}
