#feedback {
  position: relative;
  top: -120px;
  display: block;
}

@media (min-width: 840px) {
  #feedback {
    top: -80px;
  }
}

textarea.error,
input.error {
  border: solid 1px red;
}

.ma__mass-feedback-form__form .ma__mass-feedback-form__fields.is-open {
  max-height: none;
}

/*Edit to cause a CSS aggregate regen.*/
.temp05132020 {
  margin-bottom: 0;
}
