.ma__colored-heading.ma__colored-heading--blue {
  background-color: #14558f;
}

.decision-tree .ma__page-banner__logo {
  display: none;
}

.decision-tree .ma__page-banner__logo-mobile {
  line-height: 0;
  margin-bottom: 10px;
  width: 100%;
}

.decision-tree .ma__page-banner__logo-mobile img {
  max-height: 40px;
}

@media (min-width: 621px) {
  .decision-tree .ma__page-banner__logo {
    float: right;
    position: relative;
    height: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .decision-tree .ma__page-banner__logo-mobile {
    display: none;
  }
}

.page-content.ma__decision-tree-node a.edit-link {
  color: white;
  float: right;
  margin-left: 20px;
}

.page-content.ma__decision-tree-node .ma__action-step--accordion .ma__action-step__header {
  padding-left: 20px;
}

.ma__decision-tree-node--orphan {
  padding: 20px;
  background: #535353;
  color: white;
}

.page-content .ma__decision-tree-node__responses button + button {
  margin-left: 15px;
}

@media (max-width: 620px) {
  .page-content .ma__decision-tree-node__responses button {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .page-content .ma__decision-tree-node__responses button:last-child {
    margin-bottom: 0;
  }

  .page-content .ma__decision-tree-node__responses button + button {
    margin-left: 0;
  }
}

.page-content.ma__decision-tree-node .back {
  margin-top: 25px;
  border-bottom: 1px solid #dcdcdc;
  padding: 25px 5px;
}

@media (min-width: 621px) {
  .page-content.ma__decision-tree-node--answer .back {
    margin-top: 85px;
    border-top: 1px solid #dcdcdc;
  }
}

.page-content.ma__decision-tree-node .back svg {
  height: 32px;
  fill: #14558f;
  margin-bottom: -9px;
  margin-right: 10px;
}

.page-content.ma__decision-tree-node .restart {
  margin-top: 30px;
}

.page-content.ma__decision-tree-node .restart a {
  color: #680a1d;
}

.page-content.ma__decision-tree-node .disclaimer,
.ma__decision-tree-disclaimer {
  font-size: 19px;
}

.sidebar .ma__decision-tree-responses .ma__link-list {
  margin-top: 0;
}

.sidebar .ma__decision-tree-responses .ma__link-list__item,
.sidebar .ma__decision-tree-responses .ma__link-list__item + .ma__link-list__item {
  margin-top: 0;
  padding: 15px 0;
}

.sidebar .ma__decision-tree-responses .ma__link-list__item:last-of-type {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

@media (min-width: 621px) {
  .ma__decision-tree-post .ma__callout-alert__content {
    padding: 20px;
    padding-left: 94px;
  }
}

.ma__decision-tree-post .ma__callout-alert + .ma__header-tags {
  margin-top: 40px;
}

table#decisionTree {
  border-collapse: collapse;
}

table#decisionTree th {
  text-align: left;
  padding-left: 10px;
}

table#decisionTree tr {
  height: 1.7em;
  border: 1px grey solid;
}

table#decisionTree td {
  border: 1px grey solid;
  padding: 0 15px;
}

#mass-decision-tree-admin-form {
  padding: 0 20px;
}

#mass-decision-tree-admin-form div.tabledrag-changed-warning {
  box-shadow: -8px 0 0 #e62600;
}

#mass-decision-tree-admin-form div.tabledrag-toggle-weight-wrapper {
  display: none;
}

#mass-decision-tree-admin-form .draggable a.tabledrag-handle {
  height: inherit;
}

#mass-decision-tree-admin-form tr.branch-orphan,
#mass-decision-tree-admin-form tr.answer-2,
#mass-decision-tree-admin-form tr.answer-3 {
  background-color: #fcf4f2;
  box-shadow: -8px 0 0 #e62600;
}

#mass-decision-tree-admin-form tr.answer-0 .decision-tree-form-title {
  padding-left: 20px;
  background-position: 2px 4px;
  background-image: url(/core/themes/stable/images/core/icons/73b355/check.svg);
  background-repeat: no-repeat;
}

#mass-decision-tree-admin-form tr.answer-1 .decision-tree-form-title {
  padding-left: 20px;
  background-position: 2px 4px;
  background-image: url(/core/themes/stable/images/core/icons/e32700/error.svg);
  background-repeat: no-repeat;
}

#mass-decision-tree-admin-form a.tabledrag-handle .handle {
  height: 25px;
  margin: 1px 0 0 10px;
}

.decision-tree-page .ma__relationship-indicators {
  border: none;
}
