/*
 *@file
 *
 * Provides some basic page layout styles for Mass Admin Theme
 */

.main-content-region {
  display: flex;
  flex-direction: column;
}

.layout-region-secondary {
  margin-left: 0;
  margin-bottom: 2rem;
}

.region-sidebar-second {
  background-color: #fff;
  border-radius: 6px;
  padding: 1.5rem;
}

@media screen and (min-width: 1120px) {
  .main-content-region {
    flex-direction: row;
    justify-content: space-between;
  }

  .layout-region-main {
    flex: auto;
    display: inline-block;
    min-width: 65%;
  }

  .layout-region-secondary {
    display: inline-block;
    margin-left: 1.875rem;
    min-width: 33%;
  }

}

@media screen and (min-width: 780px), (orientation: landscape) and (min-device-height: 780px) {
  .layout-node-form .layout-region-node-main {
    width: 72%;
  }

  .layout-node-form .layout-region-node-secondary {
    width: 28%;
  }
}
