/*
 *@file
 *
 * Provides some basic page layout styles for Mass Admin Theme
 */

.main-content-region {
  display: flex;
  flex-direction: column;
}

.layout-region--secondary {
  margin-left: 0;
  margin-bottom: 2rem;
}

.region-sidebar-second {
  background-color: #fff;
  border-radius: 6px;
  padding: 1.5rem;
}

@media screen and (min-width: 1120px) {
  .main-content-region {
    justify-content: space-between;
  }

  .layout-region--main, .layout-region--footer {
    flex: auto;
    display: inline-block;
    min-width: 65%;
    width: 100%;
  }

  .layout-region--secondary {
    display: inline-block;
    margin-left: 1.875rem;
    margin-block-start: unset;
    min-width: 33%;
  }

}

.layout-region--footer .layout-region__content {
  border-top: 1px solid #14558f;
  padding-top: 0.5em;
  margin-top: 1.5em;
}
