{#
/**
 * @file
 * Partial for the css-only browser update banner for IE 10 and below.
 */
#}
<div class="ma__browser-update" role="alert" style="position: fixed; left: 0px; top: 0px; margin: 0px; width: 100%; z-index: 99999; color: #141414; font-size: 20px; line-height: 24px; font-weight: normal; padding: 0px; background: #f6c51b; border-bottom:1px solid #141414; text-align: left;">
  <a class="ma__browser-update__link" href="//browser-update.org/update.html" style="padding-right: 30px; display: block; color: #141414;" target="_blank">
    <span style="display: block; float: left; padding: 10px 18px 10px 8px; width: 100%;">
      <span style="font-weight: bolder;"><img src="/{{ directory }}/overrides/images/stateseal-dark.png" width="40px" style="vertical-align: middle; margin-left: 16px; margin-right: 10px; border: 0;" alt="Mass. official state seal" />  Your browser is out of date! </span>
      <span style="font-weight: normal;">Please <span style="text-decoration: underline;">update your browser</span> for more security, speed and the best experience on our site.</span>
    </span>
  </a>
</div>
