{#
/**
 * @file
 * Partial for google custom search form. Requires searchFormId to be passed.
 */
#}
  {#{{ kint(searchFormId) }}#}
{% block content %}
<form class="ma__search-banner__form" action="https://search.mass.gov/">
  <div class="ma__search-banner__input js-suggestions-container" role="search">
    <input
        id="banner-search"
        name="q"
        class="ma__header-search__input"
        autocomplete="off"
        placeholder="Search Mass.gov"
        type="search" />
  </div>
  <button class="ma__search-banner__button" type="submit">
    <span>Search</span>
    {{ icon('search')}}
  </button>
</form>
{% endblock %}
