{#
/**
 * @file
 * Here is the icons and url to all of the social media links in the footer.
 */
#}
    <section class="ma__social-links">
	      <ul class="ma__social-links__items">
			<li class="ma__social-links__item">
			  <a href="https://www.facebook.com/massgov" class="ma__social-links__link">
		  {% include directory ~ "/templates/includes/atoms-svg.html.twig" with {'iconName':'facebook'} %}
			  </a>
			</li>
			<li class="ma__social-links__item">
			  <a href="https://twitter.com/massgov" class="ma__social-links__link">
		  {% include directory ~ "/templates/includes/atoms-svg.html.twig" with {'iconName':'twitter'} %}
			  </a>
			</li>
			<li class="ma__social-links__item">
			  <a href="https://www.linkedin.com/company/commonwealth-of-massachusetts" class="ma__social-links__link">
		  {% include directory ~ "/templates/includes/atoms-svg.html.twig" with {'iconName':'linkedin'} %}
			  </a>
			</li>
			<li class="ma__social-links__item">
			  <a href="https://www.youtube.com/user/massgov" class="ma__social-links__link">
			    {% include directory ~ "/templates/includes/atoms-svg.html.twig" with {'iconName':'youtube'} %}
			  </a>
			</li>
			<li class="ma__social-links__item">
			  <a href="https://www.instagram.com/massgov/" class="ma__social-links__link">
		  {% include directory ~ "/templates/includes/atoms-svg.html.twig" with {'iconName':'instagram'} %}
			  </a>
			</li>
	      </ul>
	    </section>