{#
/**
 * @file
 * Partial for google custom search form. Requires searchFormId to be passed.
 */
#}
  {#{{ kint(searchFormId) }}#}
{% block content %}

<section class="ma__header-search">
  <form role="search" action="https://search.mass.gov/" class="ma__form js-header-search-form">
    <div class="ma__suggestions-container js-suggestions-container ma__search-banner__form {{ searchFormId }}">
      <div id="autosuggest-info" class="ma__visually-hidden" aria-hidden="true">Suggestions are presented as an open option list only when they are available.</div>
      <div class="ma__visually-hidden js-suggestions-help" role="status"  aria-live="assertive"></div>
      <label for="header-search" class="ma__header-search__label">Search terms</label>
      <input
        id="header-search"
        name="q"
        class="ma__header-search__input"
        type="search"
        inputmode="search"
        autocomplete="list"
        role="combobox"
        aria-expanded="false"
        aria-controls="suggestions-list"
        placeholder="Search Mass.gov"
        data-suggest=""
        aria-describedby="autosuggest-info" />
      <div class="ma__suggestions" data-suggestions=""></div>
    </div>
    <button type="submit" class="ma__button-search--secondary">
      <span class="ma__button-search__label">Search</span>
      {{ icon('search') }}
    </button>
  </form>
</section>



{% endblock %}
