{#
/**
 * @file
 * Partial for google custom search form. Requires searchFormId to be passed.
 */
#}
{% block content %}
  {% set searchID = searchHamburger ? 'header-search-mobile' : 'header-search' %}
  <section class="ma__header-search">
    <form action="https://search.mass.gov/" class="ma__form js-header-search-form" role="search" >
      <div class="ma__suggestions-container js-suggestions-container ma__search-banner__form {{ searchFormId }}">
        <input
          id="{{ searchID }}"
          name="q"
          class="ma__header-search__input"
          autocomplete="off"
          placeholder="Search Mass.gov"
          type="search"
          inputmode="search"
          aria-label="search the site"
        />
      </div>
      <button type="submit" class="ma__button-search--secondary">
        <span class="ma__button-search__label">Search</span>
        {{ icon('search') }}
      </button>
    </form>
  </section>



{% endblock %}
