{% if link %}
  <div class="ma__emergency-alerts__content">
    <p class="ma__emergency-alert ma__emergency-alert--c-warning">
      <span class="ma__emergency-alert__link">
          <span class="ma__content-link ma__content-link--nolink">
            <span>WARNING: This page has unpublished changes drafted in a previous session. Multiple users may have added unpublished changes to the page. Use the {{ link("Revisions tab", link, {"target": "_blank"}) }} to review the latest unpublished changes before you publish.</span>
          </span>
      </span>
    </p>
  </div>
{% endif %}
