{#
/**
 * @file
 * Template for more_list render element defined in mass_more_lists.module.
 */
#}

{% set stackedRowSections = [{
  "pageContent": [
    {
      "path": "@molecules/results-heading.twig",
      "data": {
        "resultsHeading": resultsHeading
      }
    },
    {
      "path": "@organisms/by-author/form-downloads.twig",
      "data": {
        "formDownloads": formDownloads
      }
    }
  ]
}] %}

{% extends 'node.html.twig' %}

{% block preContent %}
  {# {% include "@organisms/by-template/content-eyebrow.twig" %} #}
  {# DP-18237: Output the content eyebrow data with @molecules/relationship-indicators.twig. #}
  {% if contentEyebrow %}
    {% set pagetitle = pageHeader.title ~ " for " ~ contentEyebrow.headerTags.taxonomyTerms[0].text %}
    {% embed "@molecules/relationship-indicators.twig" with {
        "relationshipIndicators": {
          "pageTitle": pagetitle,
          "primary": {
            "label": "part of"
          },
          "secondary": null
        }
      } %}
      {% block primaryRelationship %}
        {% for item in contentEyebrow.headerTags.taxonomyTerms %}
          {% include "@atoms/item-link.twig" with {
            "itemLink": {
              "title": item.text,
              "href": item.href
            }
          } %}
        {% endfor %}
      {% endblock %}
    {% endembed %}
  {% endif %}
  {% include "@organisms/page-header/page-header.twig" %}
{% endblock %}
{% block main %}
  <section class="ma__stacked-row-section">
    <div class="main-content main-content--full">
      <div class="page-content">
        {% block pageContent %}
          {% for stackedRowSection in stackedRowSections %}
            {% include "@organisms/by-author/stacked-row-section.twig" %}
          {% endfor %}
          {{ pager }}
        {% endblock %}
      </div>
    </div>
  </section>
{% endblock %}
{% block postContent %}{% endblock %}
