<section class="ma__action-finder ma__action-finder--no-background ">
  <div class="ma__action-finder__container">
    <div class="ma__action-finder__items">
      {% for item in items %}
        {{ item.content }}
      {% endfor %}
    </div>
  </div>
</section>
