<p>A page or alert that you authored has an unpublish date that will arrive soon.  At that time, the page or alert will be unpublished.</p>
<p>Page: {{ page_url }}</p>
<p>Unpublish date: {{ unpublish_date }}</p>
<p>If you want to keep the page or alert, please review it, check its performance, and update it if necessary.  You can then update the unpublish date to a new date.</p>
<p>If you no longer need a page, you can let it unpublish automatically or you can unpublish it manually now.   If you think there could still be traffic to the page, please make a ServiceNow ticket to redirect that traffic to an appropriate page.</p>
<p>If you have any questions, please make a ServiceNow ticket.</p>
<br>
<p>Thank you.</p>
