{#
/**
 * @file
 * Markup for the Mass Dashboard tabs.
 *
 * Available variables:
 * - messages: Status messages (placeholder)
 * - tabs: Local task tabs
 *
 * @ingroup themeable
 *
 */
#}
{{ attach_library('seven/classy.messages') }}
{{ attach_library('mass_admin_toolbar/messages_tabs') }}
<div class="mass-dashboard-tabs toolbar">
  <div class="mass-dashboard-tabs__messages">{{ messages }}</div>
  <div class="mass-dashboard-tabs__tabs">
    {{ tabs }}
  </div>
</div>
