{# Alert #}
{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
      {% if content.field_alert_text|render is not empty %}
        {% include "@organisms/by-author/callout-alert.twig" with {
          "calloutAlert": {
            "text": content.field_alert_text,
            "href": ""
          }
        } %}
      {% endif %}
    {% endblock %}
  </div>
{% endblock paragraph %}
