/* Display watching/flagging links with local task*/
.mass-flagging-link-container {
  border-top: 1px solid #b5b5b5;
  background-color: #ebebeb;
  box-shadow: 0px 2px 10px rgba(181,181,181,0.5) inset;
  overflow: auto;
  height: 33px;
  text-align: right;
}
.mass-flagging-link-container a {
  float: right;
  padding-right: 25px;
  padding-left: 20px;
  font-size: 17px;
  line-height: 13px;
  padding-top: 10px;
}

/* Shrink Flag page header. */
form.contact-message-flag-content-form h1 {
  font-size: 45px;
}
