/**
 * Front-end CSS for legal-style list numbering.
 * Works with filter-generated HTML structure with multi-level-list__marker spans.
 */

ol.list-style-legal {
  padding-left: 0;
  margin: 0.5em 0;
  list-style-type: none;
}

ol.list-style-legal > li {
  display: block;
  margin-bottom: 0.5em;
  padding-left: 0;
}


/* Marker styling - MUST be visible */
span.multi-level-list__marker {
  display: inline;
  margin-right: 0.5em;
}
