{#
/**
 * @file
 * Theme to display the full view mode of the Compaign Landing content type.
 */
 #}

{% extends 'node.html.twig' %}

{% block preContent %}
  {% if translationLinks %}
    {{ include('@molecules/inline-links-language.twig', {
      inlineLinks: translationLinks,
    }) }}
  {% endif %}
  {{ content.field_header }}
{% endblock %}
{% block main %}
  <div class="main-content  main-content--full">
    <div class="page-content">
      {{ content.field_sections }}
    </div>
  </div>
{% endblock %}
{% block postContent %}
  {{ content.extra_org_feedback_form }}
{% endblock %}
