{#
/**
 * @file
 * Theme to display the full view mode of the Compaign Landing content type.
 */
 #}

{% extends 'node.html.twig' %}

{% block preContent %}
  {{ content.field_header }}
{% endblock %}
{% block main %}
  {# .ma__campaign-landing-main is to match preview style with published one. Not used in a published page. #}
  <div class="main-content main-content--full ma__campaign-landing-main">
    <div class="page-content">
      {{ content.field_sections }}
    </div>
  </div>
{% endblock %}
