/**
 * Override css for the basic html.
 */
iframe {
  border: 0px none;
}

figure figcaption {
  font-weight: 300;
  font-family: "Noto Sans VF", "Noto Sans", "Helvetica", "Arial", sans-serif;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.57;
  margin-bottom: .25em;
}

.align-right,
.align-left {
  float: none;
  margin: 0;
}

.align-right img,
.align-left img {
  width: 100%;
}

/*make google-map-field same height as parent*/
.map-container.ma__action-map__google-map.js-google-map {
  height: inherit;
}

@media (min-width: 621px) {
  :not(figure) > article[data-entity-embed-display-settings="embedded_half_width"] {
    width: 50%;
  }
  .align-right {
    float: right;
    margin-left: .5em;
    margin-bottom: 1em;
  }
  article.align-right {
    margin-left: 50px;
  }
  .align-left {
    float: left;
    margin-right: .5em;
    margin-bottom: 1em;
  }
}

/* Set FormStack form direction if it has rtl class */
form.fsForm.rtl {
  direction: rtl;
}
