/**
 * Override css for the basic html.
 */
iframe {
  border: 0px none;
}

figure figcaption {
  font-weight: 300;
  font-family: "Noto Sans VF", "Noto Sans", "Helvetica", "Arial", sans-serif;
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.57;
  margin-bottom: .25em;
}

.align-right,
.align-left {
  float: none;
  margin: 0;
}

figure.full-width-parent {
  margin-left: 0;
  margin-right: 0;
}

figure.half-width-parent {
  margin-left: 0;
  margin-right: 0;
  max-width: 50%;
}

figure.half-width-parent.align-left {
  margin-right: 1em;
}

figure.half-width-parent.align-right {
  margin-left: 1em;
}

figure.align-right > article.half-width {
  max-width: 100%;
}

figure.align-left > article.half-width {
  max-width: 100%;
}

article.full-width {
  max-width: 100%;
}

.align-right.half-width,
.align-left.half-width {
  max-width: 50%;
}

.align-right.full-width,
.align-left.full-width {
  width: 100%;
}

.align-right img,
.align-left img {
  max-width: 100%;
}

@media (max-width: 620px) {
  figure.half-width-parent.align-left {
    margin-right: 0;
  }

  figure.half-width-parent.align-right {
    margin-left: 0;
  }

  figure.half-width-parent,
  .align-right.half-width,
  .align-left.half-width {
    width: 100%;
    max-width: 100%;
  }
}

/*make google-map-field same height as parent*/
.map-container.ma__action-map__google-map.js-google-map {
  height: inherit;
}

@media (min-width: 621px) {
  :not(figure) > article[data-entity-embed-display-settings="embedded_half_width"] {
    width: 50%;
  }
  .align-right {
    float: right;
    margin-left: .5em;
    margin-bottom: 1em;
  }
  article.align-right {
    margin-left: 50px;
  }
  .align-left {
    float: left;
    margin-right: .5em;
    margin-bottom: 1em;
  }
}

/* Set FormStack form direction if it has rtl class */
form.fsForm.rtl {
  direction: rtl;
}

.page-content--intro .ma__video__skip-link {
  background-color: #fff;
}

.ma__rich-text div.align-left.half-width.embedded-entity + ul {
  list-style-position: inside;
}

