/**
 * Override css for the callout link in .ma__rich-text.
 */

/* .ma__action-finder */

.ma__rich-text .ma__action-finder,
.ma__rich-text .ma__action-finder--no-background {
  background: none;
}

/* .ma__action-finder__container */

.ma__rich-text .ma__action-finder__container {
  padding: 0;
}

/* .ma__action-finder__items */

.ma__rich-text .ma__action-finder__items {
  margin: 21.75px 0;
  margin: 1.5rem 0;
}

@media (min-width: 621px) {
  .ma__rich-text .ma__action-finder__items {
    margin: 1.75rem 0;
  }
}

.ma__rich-text .ma__action-finder__items:not(.ma__action-finder__items--all) {
  padding: 0;
}

/* .ma__callout-link */

.ma__rich-text .ma__callout-link {
  padding: 15px 20px;
}

.ma__rich-text .ma__action-finder .ma__callout-link:last-child {
  margin-bottom: 0;
}

@media (min-width: 621px) {
  .ma__rich-text .ma__callout-link {
    padding: 20px 30px;
  }
}
