/**
 * Override css for the callout link in .ma__rich-text.
 */

/* .ma__action-finder */

.ma__rich-text .ma__action-finder,
.ma__rich-text .ma__action-finder--no-background
 {
    background: none;
}

/* .ma__action-finder__container */

.ma__rich-text .ma__action-finder__container {
    padding: 0;
}

/* .ma__action-finder__items */

/* No override style with .ma__action-finder__items. */

/* .ma__callout-link */

.ma__rich-text .ma__callout-link {
  padding: 15px 20px;
}

@media (min-width: 621px) {
  .ma__rich-text .ma__callout-link {
    padding: 20px 30px;
  }
}
