/**
 * Override css for the callout link in .ma__rich-text.
 */

/* .ma__action-finder */

.ma__rich-text .ma__action-finder,
.ma__rich-text .ma__action-finder--no-background
 {
    background: none;
}

/* .ma__action-finder__container */

.ma__rich-text .ma__action-finder__container {
    padding: 0;
}

/* .ma__action-finder__items */

/* No override style with .ma__action-finder__items. */

/* .ma__callout-link */

/* .ma__rich-text .ma__callout-link {
  border: 3px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px 20px;
  background-color: #e8eef4;
  border-color: #8aaac7;
  -webkit-box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.25);
  box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,0.25);
} */

/* .ma__rich-text .ma__callout-link:last-child {
  margin-bottom: 0;
} */

/* .ma__rich-text .ma__action-finder .ma__illustrated-link, .ma__rich-text .ma__action-finder .ma__callout-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  height: auto;
  width: 100%;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
} */

/* @media (min-width: 911px)
.ma__rich-text .ma__action-finder .ma__illustrated-link, .ma__rich-text .ma__action-finder .ma__callout-link {
    float: left;
    display: block;
    margin-right: 1.6129%;
    width: 32.25806%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
} */

/* @media (min-width: 911px)
.ma__rich-text .ma__action-finder .ma__illustrated-link:last-child, .ma__rich-text .ma__action-finder .ma__callout-link:last-child {
    margin-right: 0;
} */

/* @media (min-width: 911px)
.ma__rich-text .ma__action-finder .ma__illustrated-link:nth-child(3n+1), .ma__rich-text .ma__action-finder .ma__callout-link:nth-child(3n+1) {
    clear: left;
} */

/* @media (min-width: 911px)
.ma__action-finder .ma__illustrated-link:nth-child(3n), .ma__action-finder .ma__callout-link:nth-child(3n) {
    margin-right: 0;
} */