.ma__campaign-landing .page-content .ma__search-box-with-links {
  margin-top: 50px;
  margin-bottom: 50px;
}

.ma__campaign-landing .page-content .ma__search-box-with-links:first-child {
  margin-bottom: 50px;
  margin-top: 0px;
}


