
@media (min-width: 911px) {
  .om__contained-component,
  .main-content--full .no-sidebar .page-content>.om__contained-component{
    margin-left: auto;
    margin-right: auto;
    padding-right: 500px;
  }
}
