table.dataTable thead {
    background-color: #535353;
}

table.dataTable tr.parent {
    background-color: #F2F2F2;
}

table.dataTable thead .sorting {
    background-image: url(../../icons/333333/sort-both.svg) !important;
}

table.dataTable thead .sorting_desc {
    background-image: url(../../icons/333333/sort-desc.svg) !important;
}

table.dataTable thead .sorting_asc {
    background-image: url(../../icons/333333/sort-asc.svg) !important;
}