body.no-feedback .ma__fixed-feedback-button {
  display: none;
}

/* .ma__campaign-landing .main-content--full .page-content>* { */
.main-content--full .page-content .ma__key-message,
.main-content--full .page-content .ma__campaign-feature {
  margin-top: 0;
  margin-bottom: 0;
}
/* .main-content--full .page-content .ma__key-message:last-child, */
.main-content--full .page-content .ma__campaign-feature:last-child {
  padding-bottom: 0;
}
