.flexible_link_group h2:after{
  display: none;
}

.flexible_link_group .ma__collapsible-header .ma__collapsible-header__title {
  padding-bottom: 0;
}

.flexible_link_group .ma__collapsible-header__description p {
  margin: 0.5rem 0 0 0;
}
