.flexible_link_group {
  margin-top: 20px;
}

.flexible_link_group h2:after{
  display: none;
}

.flexible_link_group .ma__collapsible-header .ma__collapsible-header__title {
  padding-bottom: 0;
}

.flexible_link_group .ma__collapsible-header__description p {
  margin: 0.5rem 0 0 0;
}

.flexible_link_group h2:after{
  display: none;
}

.flexible_link_group h2 {
  font-size: 1.75rem;
}

.flexible_link_group--header {
  padding: 20px 40px 0;
}

.flexible_link_group .flexible_link_group--header h2 {
  margin: 0 0 0.5rem 0;
  padding: 0;
}

.flexible_link_group--header p {
  margin-bottom: 0;
}
