.flexible_link_group--links {
  margin-top: 0px;
  margin-bottom: 40px;
}

.flexible_link_group .ma__callout-links-three-up__container > * {
  margin-bottom: 20px;
}

.flexible_link_group--buttons {
  margin-top: 0px;
}

.flexible_link_group h1:after,
.flexible_link_group h2:after,
.flexible_link_group h3:after,
.flexible_link_group h4:after {
  display: none;
}

.flexible_link_group .ma__collapsible-header .ma__collapsible-header__title {
  padding-bottom: 0;
}

.flexible_link_group .ma__collapsible-header__description p {
  margin: 0.5rem 0 0 0;
}

.ma__rich-text .flexible_link_group h2,
.ma__rich-text .flexible_link_group h3 {
  font-size: 2rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

.flexible_link_group p {
  margin-bottom: 0px;
}

.flexible_link_group .ma__callout-links-three-up__heading {
  margin-bottom: 1.5rem;
}

.service_section--no-title.service_section--enhanced > section {
  padding-top: 120px;
}

.service_section--no-title.service_section--simple .flexible_link_group:first-child  {
  margin-top: 50px;
}
