/*
  The homepage doesn't use standard patternlab implementations.
  Override the paddinga and spacing here to ensure visual compatibility.
 */

@media (min-width: 911px) {
  body.is-front .ma__stacked-row__section ~ .ma__stacked-row__section .ma__stacked-row__container:before {
    padding-top: 90px;
  }
}

@media (max-width: 910px) {
  body.is-front .ma__stacked-row__section ~ .ma__stacked-row__section .ma__stacked-row__container:before {
    padding-top: 45px;
  }
}

body.is-front .ma__stacked-row__section ~ .ma__stacked-row__section .ma__stacked-row__title .ma__comp-heading {
  margin-top: 0;
}

body.is-front .ma__rich-text h3:after {
  display: none;
}

body.is-front .ma__rich-text h3 {
  margin: 0;
  padding: 0;
  font-size: 1.625rem;
  line-height: 1.3;
}

body.is-front .ma__rich-text h3 a {
  color: #14558f;
  border-bottom: 3px solid transparent;
  border-bottom-width: 3px;
  border-bottom-color: transparent;
  padding-top: 3px;
  padding-bottom: 1px;
  -webkit-transition: border .4s ease;
  -o-transition: border .4s ease;
  transition: border .4s ease;
  text-decoration: none;
  border-bottom-width: 1px;
  overflow-wrap: break-word;
  -webkit-transition: border .3s;
  -o-transition: border .3s;
  transition: border .3s;
  word-wrap: break-word;
  word-break: normal;
  border-bottom-color: #8aaac7;
}


body.is-front .ma__rich-text h3 a:hover {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  text-decoration: none;
}
