body {
  -ms-overflow-style: auto;
}

@media (max-width: 910px) {
  /*
    Override the bottom padding for stacked row sections with nested stack row
    sections. These appear to use the deprecated stacked-row-section class.
  */
  .ma__org-page--general-organization .ma__stacked-row-section > .main-content {
    margin-bottom: 0;
  }
}

/*
  Override top border and margin for sections on pages that have
  traditionally had overrides applied to make their border and margins deviate
  from Mayflower.
 */
.ma__guide-page .main-content--full .page-content > .ma__split-columns {
  margin-top: 40px;
}

.ma__org-page .ma__stacked-row__section~.ma__stacked-row__section .ma__stacked-row__container .ma__stacked-row__title .ma__comp-heading {
  margin-top: 0;
}

.ma__org-page.ma__org-page--boards .ma__stacked-row__section ~ .ma__stacked-row__section .ma__stacked-row__container .ma__stacked-row__title .ma__comp-heading {
  margin-top: 15px;
}

@media (min-width: 621px) {
  .ma__guide-page .main-content--full .page-content > .ma__split-columns {
    margin-top: 60px;
  }
}

@media (min-width: 781px) {
  .ma__guide-page .main-content--full .page-content > .ma__split-columns {
    margin-top: 70px;
  }
}

@media (min-width: 911px) {
  .ma__org-page .ma__stacked-row__section ~ .ma__stacked-row__section .ma__stacked-row__container:before {
    border-top-width: 0px;
  }
  .ma__guide-page .main-content--full .page-content > .ma__split-columns {
    margin-top: 90px;
  }
}

/*
  Override the margin at the bottom of the sub title in org page for featured message.
*/
.ma__org-page .stacked-row-content .ma__stacked-row__section:first-child .main-content.main-content--full {
  margin-bottom: 20px;
}

.ma__org-page .stacked-row-content .ma__stacked-row__section:nth-child(2) .ma__contact-list,
.ma__org-page .stacked-row-content .ma__stacked-row__section:nth-child(2) .ma__featured-item-mosaic {
  margin-top: 55.6px;/* 45px + 10.6(h4-0.45em) */
}

@media (min-width: 481px) {
  .ma__org-page .stacked-row-content .ma__stacked-row__section:first-child .main-content.main-content--full {
    margin-bottom: 40px;
  }
}

@media (min-width: 621px) {
  .ma__org-page .stacked-row-content .ma__stacked-row__section:nth-child(2) .ma__contact-list,
  .ma__org-page .stacked-row-content .ma__stacked-row__section:nth-child(2) .ma__featured-item-mosaic {
    margin-top: 56.7px;/* 45px + 11.7(h4-0.45em) */
  }
}

@media (min-width: 911px) {

  .ma__org-page .stacked-row-content .ma__stacked-row__section:first-child .main-content.main-content--full {
    margin-bottom: 40px;
  }

  .ma__org-page .stacked-row-content .ma__stacked-row__section:nth-child(2) .ma__contact-list,
  .ma__org-page .stacked-row-content .ma__stacked-row__section:nth-child(2) .ma__featured-item-mosaic {
    margin-top: 71.7px;/* 60px + 11.7(h4-0.45em) */
  }
}

@media (max-width: 910px) {
  .ma__org-page .stacked-row-content .ma__stacked-row__section {
    border: none;
  }

  .ma__details .pre-content .ma__key-actions {
    margin-bottom: 40px;
  }
}

p#fsrDescription {
  line-height: 1.6;
}

/*
 * This fix should address visual regression issue for 1px offset.
 * It should be removed once the issue is resolved in mayflower.
 */
@media (min-width: 781px) {
  .ma__header__hamburger__nav {
    margin-bottom: -1px;
  }
}
