.ma__information-details .ma__information-details__content .ma__figure.ma__figure-image:not(:has(.ma__figure--no-wrap)) + :not(.ma__rich-text):not(.ma__figure.ma__figure-image) {
  clear: both;
}

.ma__information-details .ma__information-details__content .ma__rich-text section.ma__link-list  {
  clear: both;
  width: 100%;
}
