/* Margin adjustments for adapting to info details specifics  */
.ma__information-details__content .ma__divider--thin {
  margin: 1.5rem 0;
  padding: 0;
}

@media (min-width: 621px) {
  .ma__information-details__content .ma__divider--thin {
    margin: 1.75rem 0;
  }
}
