.ma__announcement__page-content--guest_post .ma__press-status,
.ma__announcement__page-content--blog_post .ma__press-status {
  display: inline-block;
}

.ma__announcement__page-content--guest_post .ma__press-status__names,
.ma__announcement__page-content--blog_post .ma__press-status__names {
  display: none;
}

.ma__announcement__page-content--guest_post .ma__press-status__date,
.ma__announcement__page-content--blog_post .ma__press-status__date {
  margin-bottom: 0;
}
