/*@media (min-width: 911px) {
  .ma__topic-page {
    padding-left: 105px;
  }

  .ma__topic-page .ma__page-banner {
    margin-left: -86px;
  }

  .ma__topic-page .ma__relationship-indicators {
    border: none;
    margin-left: 38px;
  }

  .ma__topic-page .mass-alerts-block {
    margin-left: 22px;
  }

  .ma__topic-page > .main-content--full {
    margin-left: 22px;
  }
}

@media (min-width: 1375px) {
  .ma__topic-page .ma__page-banner {
    margin-left: -145px;
  }
}*/
