/**
 * Override css for the feedbackmodule in
 * mass_theme/overrides/css/org-page--feedback.css.
 */
 div.ma_feedback-fieldset {
  margin-top: 45px;
}

.feedback-steps .ma__textarea__wrapper::after {
  content:'';
}

.feedback-steps .ma__textarea__wrapper div[aria-hidden] {
  display: block;
  line-height: 23.562px;
  line-height: 1.625rem;
  position: absolute;
  bottom: 8px;
  right: 5px;
  top: auto;
  font-size: 14.5px;
  font-size: 1rem;
  font-weight: 400;
}

.feedback-steps .ma__input-radio label.ma__input-radio__label::before {
  content: '';
  background: transparent;
}

.feedback-steps .ma__input-radio__label::after {
  content: '';
  position: absolute;
  display: inline-block;
  left: 9px;
  top: 7px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
}

.feedback-steps .ma__input-radio input:checked + .ma__input-radio__label::after {
  background: #141414;
}

.feedback-steps #note2 {
  margin-bottom: .25em;
  padding: 0;
}

.feedback-steps #note2 p {
  margin: 0;
  padding: 0;
}

.ma__mass-feedback-form__form--user-response div {
  margin-bottom: .25em;
  padding: 0;
  font-weight: 500;
}

.feedback-steps button.ma__content-link--chevron {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
  font-weight: 700;
  color: #14558f;
  border: 0;
  background: transparent;
}

.ma__mass-feedback-form__form--user-response.feedback-response
button.ma__content-link--chevron::after {
  top: 0;
}

.ma__mass-feedback-form__form--user-response.is-open button.ma__content-link--chevron::after {
  top: -4px;
}

.feedback-steps  h2,
.feedback-steps  h3 {
  max-width: 100%;
  padding: 0;
  margin-bottom: .25em;
  padding: 0;
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 1.5;
}

.feedback-steps .div.ma__radio-scale-groups {
  margin-top: 45px;
}

.feedback-steps .ma__radio-scale__item[aria-hidden] .ma__radio-scale__radios,
.feedback-steps .ma__radio-scale__radios[aria-hidden] {
  text-align: center;
  line-height: 1;
  color: #535353;
  justify-content: space-between;
}
.feedback-steps .ma__radio-scale__item[aria-hidden] .ma__radio-scale__radios {
  font-size: 1.1rem;
  font-weight: 600;
}

.feedback-steps .ma__radio-scale__radios[aria-hidden] {
  font-size: 1rem;
  font-weight: normal;
}

.feedback-steps .ma__radio-scale__radios[aria-hidden] .ma__radio-scale__label {
  height: 1.2em;
}

.feedback-steps .ma__radio-scale__item[aria-hidden] .ma__radio-scale__radios .ma__radio-scale__label,
.feedback-steps .ma__radio-scale__radios[aria-hidden] .ma__radio-scale__label {
  margin-bottom: 0;
  border: none;
  flex: initial;
  -webkit-box-flex: initial;
}

@media (max-width: 620px) {
  .feedback-steps .ma__radio-scale__item[aria-hidden] {
    display: none;
  }

  .feedback-steps .ma__radio-scale__item .ma__radio-scale legend {
    margin-bottom: 18px;
  }
}

@media (min-width: 650px) {
  .feedback-steps .ma__radio-scale__items {
    padding-top: 0;
  }

  .feedback-steps .ma__radio-scale__radios[aria-hidden] {
    display: none;
  }

  .feedback-steps .ma__radio-scale__item[aria-hidden] {
    padding: 20px 0 12px 0;
  }

  .feedback-steps .ma__radio-scale__item[aria-hidden] .ma__radio-scale__radios .ma__radio-scale__label {
    flex: 0 1 10px;
    -webkit-box-flex: 0 1 70px;
  }
}

.ma__radio-scale__items::before,
.ma__radio-scale::before,
.ma__radio-scale__items::after,
.ma__radio-scale::after {
  display: none;
}

/* radio scale focus fix  */

.feedback-steps .ma__radio-scale__label {
  position: relative;
}

.feedback-steps .ma__radio-scale__radio {
  display: inline-block;
  width: 100%;
  opacity: 0;
}

.feedback-steps .ma__radio-scale__text {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.feedback-steps .ma__radio-scale__radio:focus + .ma__radio-scale__text {
  outline: 1px auto #212121;
  outline: 5px auto -webkit-focus-ring-color;
}

div.ma__mass-feedback-form__fields,
.ma__mass-feedback-form__fields,
.ma__mass-feedback-form__contact-form {
  background-color: inherit;
  max-height: 0vh;
  overflow: hidden;
  padding: 0.001em 1.25em;
  position: relative;
  display: none;
  z-index: 1;
  transition: max-height .2s ease-in-out, padding-top .2s ease-in-out, padding-bottom .2s ease-in-out;
}

div.ma__mass-feedback-form__fields.is-open,
.ma__mass-feedback-form__fields.is-open,
.ma__mass-feedback-form__contact-form.is-open  {
  display: block;
}

.feedback-steps .is-open {
  max-height: 100vh;
  overflow: auto;
  padding: 1.25em;
  display: block;
  background: transparent;
}
