/**
 * Overrides CSS for Page Header organism when used in conjunction with views-view--image-promo.html.twig.
 */
.ma__page-header {
  padding-left: 0;
  padding-right: 0;
}

/**
 * Remove side margins from relationship indicator container in views-view--image-promo.html.twig
 */
.ma__relationship-indicators {
  margin-right: 0;
  margin-left: 0;
}
