/**
 * Match preview style to published page.
 */
.user-logged-in .ma__campaign-landing-main .page-content > * {
  margin-top: 0;
  margin-bottom: 0;
}

.user-logged-in .ma__campaign-landing-main {
  margin-bottom: 0;
}
