/**
 * Match preview style to published page.
 */
main:not(.ma__campaign-landing) .ma__campaign-landing-main {
  margin-bottom: 0;
}

 main:not(.ma__campaign-landing) .ma__campaign-landing-main .page-content>* {
  margin-top: 0;
  margin-bottom: 0;
}
