.ma__rich-text.rich-text-override > h4 {
  color: #141414;
  font-weight: 600;
  font-size: 1.625rem;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

.ma__rich-text.rich-text-override > h4:after {
  display: none;
}
