/**
 * Override css for the rich text container div.
 */

/*
  As adding missing section container for rich text content, comp headings are now in the section container combined with its associated rich text content, which used to use 2 separate div.ma__rich-text, one for compheading, one for rich text content.

  This change causes top margin difference between page types depends on how rich text paragraph rendering is set up.
  The initial adjustment has been done in Mayflower.  Backstop doesn't flag with this change in Mayflower with its adjustment.

  This override takes care of Drupal specific implementation to match the current production presentation, which varies between page types.
*/

/* State A to Z Rightrail page */
.ma__action-details h4 {
  margin-bottom: .6em;
  padding-bottom: .45em;
  position: relative;
  display: block;
}

.ma__action-details h4:after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0.075em;
  -webkit-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  transform: skew(-30deg);
  background-color: rgba(56,133,87,0.5);
  width: 1.5em;
}

.ma__action-details p {
  margin-bottom: 21.75px;
  margin-bottom: 1.5rem;
}

@media (min-width: 621px) {
  .ma__action-details p {
    margin-bottom: 1.75rem;
  }
}

.ma__action-details p a {
  border-bottom: 3px solid transparent;
  border-bottom-color: rgba(20,85,143,0.5);
  padding-top: 3px;
  padding-bottom: 1px;
  border-bottom-width: 1px;
  overflow-wrap: break-word;
  -webkit-transition: border .3s;
  -o-transition: border .3s;
  transition: border .3s;
  word-wrap: break-word;
  word-break: normal;
}

.ma__action-details p a:hover {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  text-decoration: none;
}

.ma__action-details .ma__action-details__anchor-links {
  margin-bottom: 30px;
  position: relative;
  -webkit-transition: top .3s;
  -o-transition: top .3s;
  transition: top .3s;
  width: 100%;
  z-index: 80;
}

.ma__action-details .ma__action-details__anchor-links a {
  display: none;
  font-size: 20px;
  line-height: 1.2;
  padding: 10px 15px;
  font-weight: 500;
}

.ma__action-details .ma__action-details__anchor-links a.is-active {
  color: #141414;
  font-weight: 700;
  display: block;
}

.ma__action-details .ma__action-details__anchor-links::after {
  clear: both;
  content: "";
  display: table;
}

@media (min-width: 781px) {
  .ma__action-details .ma__action-details__anchor-links {
    margin-left: -160px;
    margin-bottom: 0;
    padding-right: 40px;
    position: absolute;
    top: 0;
    width: 160px;
  }

  .ma__action-details .ma__action-details__anchor-links a {
    display: block;
    padding: 0;
    padding-bottom: 12px;
  }

  .ma__action-details .ma__action-details__anchor-links a+a {
    border-top: 1px solid;
    padding-top: 12px;
  }
}

@media (min-width: 1201px) {
  .ma__action-details .ma__action-details__anchor-links {
    margin-left: -210px;
    width: 210px;
  }
}

.ma__action-details .ma__action-details__anchor-links a+a {
  border-top-color: #dcdcdc;
}
