.service-section {
  overflow: hidden;
}

.org-section--enhanced,
.service-section--enhanced {
  background-image: -o-linear-gradient(top, white 50px, #F2F2F2 51px);
  background: linear-gradient(180deg, white 50px, #F2F2F2 51px);
}

.org-section--enhanced > section > header,
.service-section--enhanced > section > header {
  margin-right: auto;
  margin-left: auto;
  max-width: 1320px;
  padding-left: 40px;
  padding-right: 40px;
}

.service-section .ma__collapsible-header__title {
  font-size: 2rem;
}

.org-section .ma__callout-links-three-up h3,
.service-section .ma__callout-links-three-up h3 {
  margin-bottom: 0;
}

.org-section .ma__callout-links-three-up p,
.service-section .ma__callout-links-three-up p {
  margin-top: 0.5rem;
}

.org-section .ma__callout-links-three-up__container,
.service-section .ma__callout-links-three-up__container {
  margin-top: 2rem;
}

.org-section--hidden-title > section > header,
.org-section--hidden-title > section > .ma__stacked-row__container,
.service-section--hidden-title > section > header,
.service-section--hidden-title > section > .ma__stacked-row__container {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.org-section--enhanced.org-section--hidden-title,
.service-section--enhanced.service-section--hidden-title {
  background: #F2F2F2;
  padding-top: 40px;
}

.org-section .ma__collapsible-content__body .ma__collapsible-content__body-item,
.service-section .ma__collapsible-content__body .ma__collapsible-content__body-item {
  margin: 0.5rem 0;
  display: block;
}

.org-section--enhanced + .org-section--simple .ma__stacked-row__section .ma__stacked-row__container:before,
.service-section--enhanced + .service-section--simple .ma__stacked-row__section .ma__stacked-row__container:before {
  border-color: transparent;
}

.org-section .ma__stacked-row__container:before,
.service-section .ma__stacked-row__container:before {
  border-color: transparent !important;
}

.org-section--enhanced + .org-section--enhanced.org-section--hidden-title,
.service-section--enhanced + .service-section--enhanced.service-section--hidden-title {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.org-section.org-section--enhanced .ma__stacked-row__section .main-content {
  padding-bottom: 30px;
}

.service-section .ma__stacked-row__section .main-content {
  margin-bottom: 30px;
}
