/**
 * Align stat components in stacked row section (ex. org page) with other components.
 */
 .ma__stacked-row__section__stat-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
 }

@media (min-width: 911px) {
  .ma__stacked-row__section__stat-wrapper {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 780px) {
  .ma__stacked-row__section__stat-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
