/**
 * Keep the sticky nav visible under admin toolbar.
 */

@media (max-width: 780px) {
  .toolbar-fixed .ma__sticky-nav[data-sticky=middle] {
    top: 56px;
  }

  .toolbar-fixed.toolbar-tray-open.toolbar-vertical .ma__sticky-nav[data-sticky=middle] {
    top: 56px;
  }

  .toolbar-fixed.toolbar-tray-open.toolbar-horizontal .ma__sticky-nav[data-sticky=middle] {
    top: 116px;
  }
}

@media (min-width: 610px) {
  .toolbar-fixed.toolbar-tray-open.toolbar-vertical .ma__sticky-nav[data-sticky=middle] {
    width: calc(100% - 200px);
  }
}