/**
 * Keep the sticky TOC visible under admin toolbar.
 */

@media (min-width: 841px) {
  .toolbar-fixed .ma__sticky-toc .ma__sticky-toc__stuck,
  .toolbar-fixed .ma__sticky-toc__stuck-menu,
  .toolbar-fixed .ma__sticky-toc__stuck-menu.sticky-nav-open .ma__sticky-toc__secondary-label {
    top: 58px;
  }

  .toolbar-fixed.toolbar-tray-open .ma__sticky-toc .ma__sticky-toc__stuck,
  .toolbar-fixed.toolbar-tray-open .ma__sticky-toc__stuck-menu,
  .toolbar-fixed.toolbar-tray-open .ma__sticky-toc__stuck-menu.sticky-nav-open .ma__sticky-toc__secondary-label {
    top: 116px;
  }
}
