/**
 * Keep the sticky TOC visible under admin toolbar.
 */

@media (min-width: 610px) {
  .toolbar-fixed .ma__sticky-toc .ma__sticky-toc__stuck,
  .toolbar-fixed .ma__sticky-toc__stuck-menu,
  .toolbar-fixed .ma__sticky-toc__stuck-menu.sticky-nav-open .ma__sticky-toc__secondary-label {
    top: 56px;
  }

  .toolbar-fixed.toolbar-tray-open .ma__sticky-toc .ma__sticky-toc__stuck,
  .toolbar-fixed.toolbar-tray-open .ma__sticky-toc__stuck-menu,
  .toolbar-fixed.toolbar-tray-open .ma__sticky-toc__stuck-menu.sticky-nav-open .ma__sticky-toc__secondary-label {
    top: 116px;
  }
}

@media (min-width: 941px) {
  .dialog-off-canvas-main-canvas:has(.ma__sticky-toc.stuck)~ .dtfh-floatingparent-head .dataTable.fixedHeader-floating {
    padding-top: 70px;
  }
}

@media (max-width: 940px) {
  ..dialog-off-canvas-main-canvas:has(.ma__sticky-toc.stuck)~ .dtfh-floatingparent-head .dataTable.fixedHeader-floating {
    padding-top: 75px;
  }
}
