/**
 * CSS overrides for the View for External data resource content type.
 */

.data-listing-wrapper h1 {
  margin-top: 2rem;
}

.form-item-field-data-topic-target-id-1 {
  display: flex;
  align-items: center;
 }
.form-item-field-data-topic-target-id-1 > input[type=radio] {
  margin-right: 5px;
}

#edit-field-data-topic-target-id-1 ul {
  list-style: none;
  padding-left: 0;
}