/**
 * CSS overrides for the View for External data resource content type.
 */

.data-listing-wrapper h1 {
  margin-top: 2rem;
}

#edit-field-data-topic-target-id-1 ul {
  list-style: none;
  padding-left: 0;
}

[class*="form-item-field-data-topic-target-id-1"] {
  display: flex;
  align-items: center;
 }

[class*="form-item-field-data-topic-target-id-1"] > input[type=radio], input[type=checkbox] {
  margin-right: 5px;
}

[class*="form-item-field-data-topic-target-id-1"] > label.option {
  margin-bottom: 0;
}

#filter-toggle {
  display: flex;
  background-color: #e8eef4;
  border: 1px solid #8aaac7;
  width: 100%;
  justify-content: space-between;
  padding: .25rem 1rem;
}

#filter-toggle:after {
  border-right: 4px solid;
  border-bottom: 4px solid;
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  margin-top: 3px;
  transform: rotate(45deg);
  transition: transform .2s;
}

#filter-toggle.expanded:after {
  transform: rotate(-135deg);
  margin-top: 6px;
}

#filters {
  background: rgb(232, 238, 244);
  border: 1px solid #8aaac7;
  padding: 10px;
  margin: -1px 0 0;
  display: block;
}

#filters--desktop {
  display: none;
}

/* desktop only */
@media (min-width: 781px) {
  #filter-toggle {
    display: none;
  }

  #filters {
    display: none;
  }

  #filters--desktop {
    display: block;
  }
}

.data-listing-wrapper .sidebar {
  padding-bottom: 20px;
}

#filters--desktop {
  margin-top: 0;
}

.data-listing-wrapper .ma__general-teaser {
  margin-top: 20px;
  padding-top: 15px;
}

/* form fields style overrides */

.data-listing-wrapper .views-exposed-form {
  padding-right: 2rem;
}

.ma__button.form-submit {
  margin-top: 20px;
}

.ma__button.form-submit.ma__button-reset {
  float: right;
}

#edit-title {
  width: 100%;
}
