/**
 * CSS overrides for the View for External data resource content type.
 */
.page-content.external-data-resource {
  margin-bottom: 5em;
}
.external-data-resource ul {
  padding-inline-start: 0;
}
.external-data-resource li.ma__listing-table__data-item:not(:last-child) {
  margin-bottom: 0.5em;
}
