{{ attach_library('mass_feedback_form/feedback-form') }}
<div id="feedback" data-mass-feedback-form>
  <h2 class="ma__visually-hidden">{{ 'Feedback'|t }}</h2>
  <form method="post" novalidate action="https://www.formstack.com/forms/index.php" class="fsForm {# fsSingleColumn fsMaxCol1 #}" id="fsForm2521317">

    <input type="hidden" name="form" value="2521317" />
    <input type="hidden" name="viewkey" value="vx39GBYJhi" />
    <input type="hidden" name="hidden_fields" id="hidden_fields2521317" value="" />
    <input type="hidden" name="_submit" value="1" />
    <input type="hidden" name="incomplete" id="incomplete2521317" value="" />
    <input type="hidden" name="incomplete_password" id="incomplete_password2521317" />
    <input type="hidden" name="style_version" value="3" />
    <input type="hidden" id="viewparam" name="viewparam" value="524744" />

{# ONLY THE FIRST MESSAGE IS IN USE WITH THIS FEEDBACK FORM.
   SINCE NO USE FOR THE OTHER MESSAGE.
   IT SHOULD BE PRETTY SAFE TO REMOVE THEM.
#}
    <!-- MESSAGES -->
{#
    <div id="requiredFieldsError" class="hide">Please fill in all required (marked with *) fields.</div>
    <div id="invalidFormatError" style="display:none;">Please ensure all values are in a proper format.</div>
    <div id="resumeConfirm" style="display:none;">Are you sure you want to leave this form and resume later?</div>
    <div id="resumeConfirmPassword" style="display: none;">Are you sure you want to leave this form and resume later? If so, please enter a password below to securely save your form.</div>
    <div id="saveAndResume" style="display: none;">Save and Resume Later</div>
    <div id="saveResumeProcess" style="display: none;">Save and get link</div>
    <div id="fileTypeAlert" style="display:none;">You must upload one of the following file types for the selected field:</div>
    <div id="embedError" style="display:none;">There was an error displaying the form. Please copy and paste the embed code again.</div>
    <div id="applyDiscountButton" style="display:none;">Apply Discount</div>
    <div id="dcmYouSaved" style="display:none;">You saved</div>
    <div id="dcmWithCode" style="display:none;">with code</div>
    <div id="submitButtonText" style="display:none;">Send Feedback</div>
    <div id="submittingText" style="display:none;">Submitting</div>
    <div id="validatingText" style="display:none;">Validating</div>
    <div id="autocaptureDisabledText" style="display:none;"></div>
    <div id="paymentInitError" style="display:none;">There was an error initializing the payment processor on this form. Please contact the form owner to correct this issue.</div>
    <div id="checkFieldPrompt" style="display:none;">Please check the field: </div>
#}

{#
  MIGHT NEED TO SET UP:
  AFTER A SUBMITTION WITH EITHER "YES" OR "NO", "Thank you for your feedback" IS DISPLAYED, BUT IT'S NOT SET IN THE MESSAGES ABOVE.

#}

{#

NOTE:
  1. wrapper/layout container <div>s are replaced with <fieldset>.
  2. name for <field> and <textarea> are left as-is assuming they match db columns at Formstack side.
  3. comment out ids and classes for <fieldset>, <legend>, <label> for testing assuming they are not used as selectors.
  4. comment out obviously styling purpose class values for <input>.
  5. Add required attribute to required fields, so no need to rely on js to notify error.

#}

    {# Referrer: #}
    <input type="hidden" id="field47056299" name="field47056299" size="50" value="" class="fsField" />
    {# Node ID: #}
    <input type="hidden" id="field58154059" name="field58154059" value="{{ node_id }}" />
    <input type="hidden" id="field57432673" name="field57432673" value="{{ node_id }}" />

    <fieldset{# id="label47054416" #}>
      <legend{# class="fsLabel requiredLabel fsLabelVertical" #}>
        Did you find what you were looking for on this webpage?<span> * <span class="ma__visually-hidden">required</span></span>
      </legend>

      <div class="ma__input-group__items ma__input-group__items--inline">
        <div class="ma__input-group__item">
          <span class="ma__input-radio">
<input aria-required="true" class="fsField required" id="field47054416_1" name="field47054416" required type="radio" value="Yes"/>

<label class="fsOptionLabel ma__input-radio__label" for="field47054416_1">Yes</label>
          </span>
        </div>

        <div class="ma__input-group__item">
          <span class="ma__input-radio">
<input aria-required="true" class="fsField required" id="field47054416_2" name="field47054416" required type="radio" value="No"/>

<label class="fsOptionLabel ma__input-radio__label" for="field47054416_2">No</label>
          </span>
        </div>
      </div>
    </fieldset>

    {# SHOW THIS WHEN "NO" IS SELECTED ABOVE #}
    <fieldset class="radio-no hide">
      <label {# id="label47054414" class="fsLabel requiredLabel" #}for="field47054414">If "No," please tell us what you were looking for:<span> * <span class="ma__visually-hidden">required</span></span></label>
      <textarea id="field47054414"
                class="ma__textarea fsField required {# fsTextAreaMaxLength #}"
                name="field47054414"
                aria-required="true"
                maxlength="10000"
                disabled="disabled"
                aria-describedby="feedback-note"></textarea>
      {# character counter is added to DOM. #}
      <div id="feedback-note" class="ma__disclaimer{# fsSupporting #}">We use your feedback to help us improve this site but we are not able to respond directly. <strong>Please do not include personal or contact information.</strong> If you need a response, please locate the contact information elsewhere on this page or in the footer.</div>
    </fieldset>

    {# SHOW THIS WHEN "YES" IS SELECTED ABOVE #}
    <fieldset class="radio-yes hide">
      {# No .fsLabel necessary, this is optinal field. #}
      <label{# id="label52940022" class="fsLabel" #} for="field52940022">Is there anything else you would like to tell us?</label>
      <textarea id="field52940022"
                class="ma__textarea fsField"
                name="field52940022"
                maxlength="10000"
                disabled="disabled"
                aria-describedby="feedback-note2"></textarea>
      <div id="feedback-note2" class="ma__disclaimer{# fsSupporting #}">We use your feedback to help us improve this site but we are not able to respond directly. <strong>Please do not include personal or contact information.</strong> If you need a response, please locate the contact information elsewhere on this page or in the footer.</div>
    </fieldset>

    <p class="ma__info-container"><a href="/info-details/report-abuse-or-request-urgent-assistance">If you need to report child abuse, any other kind of abuse, or need urgent assistance, please click here</a>.</p>

{# THESE BUTTON ARE NOT USED AT ALL:  THEY SHOULD BE SAFE TO REMOVE #}
{# <button type="button" id="fsPreviousButton2521317" class="fsPreviousButton" value="Previous Page" style="display:none;" aria-label="Previous">
        <span class="fsFull">Previous</span><span class="fsSlim">&larr;</span>
      </button>

      <button type="button" id="fsNextButton2521317" class="fsNextButton" value="Next Page" style="display:none;" aria-label="Next">
        <span class="fsFull">Next</span><span class="fsSlim">&rarr;</span>
      </button> #}

    {# SUBMIT BUTTON IN USE FOR THIS FORM #}
    <fieldset>{# not necessaary, but for layout/styling purpose #}
      <input id="submitButton2521317"
             class="submitButton ma__button ma__button--small"
             style="display: block;"
             type="submit"
             value="Send Feedback" />
    </fieldset>
  </form>
</div>
