<div class="collection-header" style="background-color: {{ collection.bg_color }}">
  <div class="collection-header__title">
    {{ collection.title }}
  </div>
  <div class="collection-header__description">
    {{ collection.description }}
  </div>
  <div class="collection-header__image">
    {{ collection.image|raw }}
  </div>
</div>
