{% if collection.bg_color is not empty %}
  <div class="collection-header" style="background-color: {{ collection.bg_color }}">
    {{ collection.content|raw }}

    {% if collection.image|raw is not empty %}
      <div class="collection-header__image">
        {{ collection.image|raw }}
      </div>
    {% endif %}
  </div>
{% endif %}
