{% set heading = { } %}
{% if paragraph.field_hide_heading is not defined or paragraph.field_hide_heading.0.value == 0 %}
  {% set heading = {
    "title": (content.field_service_section_heading|field_value),
    "id": "",
    "borderless": true
  } %}
{% endif %}

{% embed "@organisms/by-author/stacked-row-section.twig" with {
  "stackedRowSection": heading,
  "stackedRow": {
    "borderless": true,
    "modifier" : "no-sidebar"
  },
  "externalSidebar": true
} %}

  {% block stackedRowContentOverride %}
    {% for service_component in service_components %}
      {% if service_component.group == 'default' %}
        {% embed "@organisms/by-author/rich-text.twig" %}
          {% block rteElements %}
            {% for c in service_component.items %}
              {{ c|view }}
            {% endfor %}
          {% endblock %}
        {% endembed %}
      {% elseif service_component.group == 'self' %}
        {% embed "@organisms/by-author/rich-text.twig" %}
          {% block rteElements %}
            {{ service_component.items|view }}
          {% endblock %}
        {% endembed %}
      {% elseif service_component.group == 'contained' %}
        {% embed "@organisms/by-author/rich-text.twig" with {'headerIndent' : 'om__contained-component'} %}
          {% block rteElements %}
            {{ service_component.items|view }}
          {% endblock %}
        {% endembed %}
      {% else %}
        {% set display_type = service_component[0].field_display_type.0.value %}

        {% if opened_flexible_links_display_type_links_tag and display_type != 'links' %}
          {% set opened_flexible_links_display_type_links_tag = false %}
          </div>
        {% endif %}

        {% if not opened_flexible_links_display_type_links_tag and display_type == 'links' %}
          {% set opened_flexible_links_display_type_links_tag = true %}
          <div class="flexible_link_group flexible_link_group--links-wrapper">
        {% endif %}

        {{ service_component[0]|view }}
      {% endif %}
    {% endfor %}

    {% if opened_flexible_links_display_type_links_tag %}
      {% set opened_flexible_links_display_type_links_tag = false %}
      </div>
    {% endif %}

  {% endblock %}

{% endembed %}
