{#
/**
 * @file
 * Theme override to display the Full view mode of the Subtopic content type.
 *
 * Uses 'extend' methods from http://www.stevector.com/2013/10/make-your-drupal-8-theme-easier-to-maintain-with-this-one-weird-trick-twigs-extends-concept/
 */
 #}
{#
/**
 * @file
 * Partial for suggested pages finder. To be included at the node level.
 */
#}
<div class="main-content {{ content.field_right_rail|render|trim is not empty ? 'main-content--two' : 'main-content--full' }}">
  <div class="page-content">
    {{ content.field_main|field_value }}
  </div>
  {% if content.field_right_rail|render|trim is not empty %}
    <aside class="sidebar">
      {{ content.field_right_rail|field_value }}
    </aside>
  {% endif %}
</div>
