{% set items = [] %}
{% for link in flexible_link_links %}
  {% set item = {
        "path": "@atoms/decorative-link.twig",
        "data": {
          "decorativeLink": {
            "text": link.text,
            "href": link.href
          }
        }
  } %}
  {% set items = items|merge([item])%}
{% endfor %}

<div class="flexible_link_group flexible_link_group--{{ flexible_links_display_type }}">

    <section class="ma__action-finder ma__action-finder--no-background ">
      <div class="ma__action-finder__container">


      {% if flexible_link_title %}
        <header class="ma__action-finder__header">
          <h2 class="ma__action-finder__title">
              {{ flexible_link_title }}
          </h2>
        </header>
      {% endif %}

      {% if (flexible_links_display_type == 'links') %}
        {% include "@organisms/by-author/collapsible-content.twig" with {
          "collapsibleContent": {
            "extended": true,
            "items": [{
              "collapsibleHeader": {
                "title": flexible_link_title,
                "description": flexible_link_description
              },
              "expanded": true,
              "includes" : items
            }]
          }
        } %}
      {% endif %}

      {% if (flexible_links_display_type == 'buttons') %}
        <div class="ma__action-finder__items">

          {% for item in items %}
            {% include "@molecules/callout-link.twig" with {
              "calloutLink": {
                "text": item.data.decorativeLink.text,
                "href": item.data.decorativeLink.url,
                "theme": flexible_links_theme
              }
            } %}
          {% endfor %}

        </div>
      {% endif %}
    </div>
  </section>
</div>