{% if headerAlerts %}
  <div class="ma__container">
    {% embed "@organisms/by-template/header-alerts.twig" with {
      "headerAlerts" : headerAlerts,
      "headerTitle" : headerTitle
    }%}
    {% endembed %}
  </div>
{% endif %}
