{
  "extends": "./core/.eslintrc.legacy.json",
  "globals": {
    "google": true,
    "moment": true
  },
  "ignorePatterns": ["modules/custom/mass_feedback_form/js/accessible-character-countdown.js", "modules/custom/mass_feedback_form/js/accessible-character-countdown.min.js", "modules/custom/mayflower/js/modernizr.min.js", "themes/custom/mass_theme/js/*", "themes/custom/mass_admin_theme/js/entity-embed-dialog-alter.js"],
  "rules": {
    // Override this rule from core, make warning instead of error
    "no-unused-vars": [
      1,
      {
	"vars": "all",
	"args": "none"
      }
    ],
    "no-console": [
      "error",
      { "allow": ["warn", "error"] }
    ],
    "no-extend-native": [
      "error",
      { "exceptions": ["Array"] }
    ]
  }
}
