/**
 * @file
 * Styles for specific elements on node/add page.
 */

.admin-category-list {
  margin: 0;
  padding: 0;
}
.admin-category-list li {
  list-style: none;
}
.admin-category-list > li {
  background-color: #fff;
  border-radius: 6px;
  margin-bottom: 54px;
}

h2.category-header {
  color: #fff;
  font-size: 1.75rem;
  font-weight: bold;
  line-height: 2rem;
  text-transform: uppercase;
  padding: 1rem 1.25rem;
  background-color: #43956f;
  margin: 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.back-to-top {
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
  float: right;
  text-transform: none;
  /*text-decoration: underline;*/
}

.no-results-msg {
  font-size: 2rem;
  text-align: center;
}
