.ma__emergency-alert--c-warning {
  color: #141414;
  background-color: #fef9e8;
}

.ma__emergency-alert {
  background-color: #fef9e8;
  font-size: 20px;
  font-size: 1.25rem;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.ma__emergency-alerts__content {
  background-color: #fef9e8;
  display: block;
  margin-bottom: 30px;
  padding-left: 10px;
}

