name: mass
type: drupal9
docroot: docroot
php_version: "7.4"
webserver_type: apache-fpm
dbimage: massgov/mysql-sanitized:super
omit_containers:
  - db
disable_settings_management: true
#Avoid conflict on port 80. This is rarely used anyway.
router_http_port: "88"
router_https_port: "443"
xdebug_enabled: false
project_tld: local
use_dns_when_possible: true
web_environment:
  - DOCKER_ENV=devel
  - MYSQL_USER=circle
  - MYSQL_PASSWORD=circle
  - MYSQL_DATABASE=circle
  - MYSQL_HOST=dbmass
  - MEMCACHED_HOST=memcached
  - DRUSH_OPTIONS_URI=https://mass.local:$DDEV_ROUTER_HTTPS_PORT
  - DTT_BASE_URL=http://mass-web
  - DTT_API_URL=http://chromedriver:9515
#  - BROWSERTEST_OUTPUT_DIRECTORY=/tmp
  - BROWSERTEST_OUTPUT_BASE_URL=https://mass.local:$DDEV_ROUTER_HTTPS_PORT
  # Acquia Cloud - v2
  - AC_API2_KEY
  - AC_API2_SECRET
  # New Relic. Needed for deployments.
  - MASS_NEWRELIC_APPLICATION
  - MASS_NEWRELIC_KEY
  # Acquia basic auth.  Needed for tests on Acquia environments.
  - LOWER_ENVIR_AUTH_USER
  - LOWER_ENVIR_AUTH_PASS
  # For Cloudflare Terraform.
  - CLOUDFLARE_EMAIL
  - CLOUDFLARE_TOKEN
hooks:
  post-start:
    # Tugboat CLI
    - exec: wget https://dashboard.tugboat.qa/cli/linux/tugboat.tar.gz
    - exec: tar -zxf tugboat.tar.gz -C /usr/local/bin/
    # CicleCI CLI
    - exec: curl -fLSs https://raw.githubusercontent.com/CircleCI-Public/circleci-cli/master/install.sh | bash
    # gh install is too slow to be enabled by default as we dont need it. Uncomment or copy to personal config if needed.
    # - exec: curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | sudo gpg --dearmor -o /usr/share/keyrings/githubcli-archive-keyring.gpg
    # - exec: echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" | sudo tee /etc/apt/sources.list.d/github-cli.list > /dev/null
    # - exec: sudo apt update
    # - exec: sudo apt install gh

