name: mass
type: drupal10
docroot: docroot
php_version: "8.2"
webserver_type: apache-fpm
#omit_containers:
#  - db
disable_settings_management: true
router_http_port: "80"
router_https_port: "443"
xdebug_enabled: false
project_tld: local
use_dns_when_possible: true
web_environment:
  - DOCKER_ENV=devel
  - MYSQL_USER=db
  - MYSQL_PASSWORD=db
  - MYSQL_DATABASE=db
  - MYSQL_HOST=db
  - MEMCACHED_HOST=memcached
  - DRUSH_OPTIONS_URI=https://mass.local:$DDEV_ROUTER_HTTPS_PORT
  - DTT_BASE_URL=https://web
  - MASS_PURGERS
  - MASS_MAILCHIMP
#  - BROWSERTEST_OUTPUT_DIRECTORY=/tmp
  - BROWSERTEST_OUTPUT_BASE_URL=https://mass.local:$DDEV_ROUTER_HTTPS_PORT
  # Acquia Cloud - v2
  - AC_API2_KEY
  - AC_API2_SECRET
  # ACLI
  - ACQUIA_API_KEY=$AC_API2_KEY
  - ACQUIA_API_SECRET=$AC_API2_SECRET
  - ACQUIA_ENVIRONMENT_ID=massgov.dev
  # New Relic. Needed for deployments.
  - MASS_NEWRELIC_APPLICATION
  - MASS_NEWRELIC_KEY
  # Acquia basic auth.  Needed for tests on Acquia environments.
  - LOWER_ENVIR_AUTH_USER
  - LOWER_ENVIR_AUTH_PASS
hooks:
  pre-start:
    - exec-host: echo "No output is shown during the first container build. It may take a minute to install Tugboat, CircleCI, GitHub, and New Relic  CLI tools."
  post-import-db:
#    - exec: drush sql:sanitize -y
