{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @see template_preprocess_field()
 */
#}

{# Change downloads' format to 'Rendered entity' with view mode 'Media Download Link'
    to get icon data.
  Change Links' format to 'Separtae link text(with computed title) and URL to get link text.
#}
{% for item in items %}

{# {{ dump(item.content) }} #}
  {% set linkText = item.content['#title']['#markup'] ? item.content['#title']['#markup'] : item.content['#title'] %}
  {# Add the laptop icon to form page links. #}
  {% set linkIcon = ('/forms/' in item.content['#url_title']) ? 'laptop' : item.content['#icon'] %}

  {# {% if not(item.content['#icon']) and ('/download' in item.content['#url_title']) %}
    <p>No file icon</p>
  {% endif %} #}


  {% set linkFormat = ('/forms/' in item.content['#url_title']) ? 'form' : item.content['#format'] %}
  {% set linkContext = ('/forms/' in item.content['#url_title']) ? 'Link to an online form' %}
  {% include "@molecules/download-link.twig" with {
    "downloadLink": {
        "iconSize": item.content['#icon_size'],
        "icon": linkIcon,
        "decorativeLink": {
          "text": linkText,
          "href": item.content['#url_title'],
          "info": "",
          "labelContext": linkContext
        },
        "size": item.content['#size'],
        "format": linkFormat
      }
    } %}

  {# {% set inlineLinks = "inlineLinks": {
      "ariaLabel": "Available Translations",
      "links": [{
        "text": "English",
        "href": "#",
        "info": "",
        "lang_label": "English"
      },
        {
          "text": "Español",
          "href": "#",
          "info": "",
          "lang_label": "Spanish"
        },
        {
          "text": "漢語",
          "href": "#",
          "info": "",
          "lang_label": "Chinese"
        },
        {
          "text": "Português",
          "href": "#",
          "info": "",
          "lang_label": "Portuguese"
        }] %}

  {% include "@molecules/download-link-multilang.twig" with {
    "downloadLink": {
      "iconSize": item.content['#icon_size'],
      "icon": linkIcon,
      "decorativeLink": {
        "text": linkText,
        "href": item.content['#url_title'],
        "info": "",
        "labelContext": linkContext
      },
      "size": item.content['#size'],
      "format": linkFormat,
      "language": "",
      "inlineLinks": inlinLinks
    }
  } %}#}
{% endfor %}
