{# Set top heading level for the component. #}
{% set level = 2 %}

{% embed "@organisms/by-author/link-list.twig" with  {
  "linkList": {
    "sectionClass": "",
    "stacked": true,
    "compHeading": {
      "title": label,
      "sub": "",
      "color": "",
      "id": "",
      "centered": false,
      "level": level
    },
    "description": null,
    "stacked": false,
    "hideBullets": true
  }
} %}

  {% block linkListDecorativeLink %}
    {% for decorativeLink in items %}
      <li class="ma__link-list__item">
        {{ decorativeLink.content }}
      </li>
    {% endfor %}
  {% endblock %}
{% endembed %}
